<div style="width: 100%; height: 0px; padding-bottom: 56.25%; position: relative;"><div style="width: 100%; height: 100%; position: absolute;">
<blockquote data-width="100%" data-height="100%" class="ricoh-theta-spherical-image"><%= description %> - <a href="<%= url %>" target="_blank"><%= title %></a></blockquote>
<script async src="https://theta360.com/widgets.js" charset="utf-8"></script>
</div></div>
