.background{
    width : 100%;
    height: 100vh; 
    text-align: center;
    padding-top: 15%
}
.analysis-titles
{
    margin: 0;
    margin-left:5px; 
    margin-top:8px; 
    color: #66757f;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}
.scrollr
{
    overflow-y: scroll; 
    height : 350px ;

}
.no-top-margin
{
    margin-top:0px; 
    padding: 0px;
}
td
{
    width: 50%

}
.whitebg
{
    border-radius:5px; 
    background: #fff;
}
.heading
{
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    margin-bottom: 25px;
}
.inputname
{
    color: #292f33;
    margin-top:8px;
    background-color: #fff;
    border: 2px solid #e1e8ed;
    border-radius: 21px;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    
}
.big {
    margin-top: 15px;
    height : 50px;
    size : 10%;
    font-size: 20px;
    background: #55ACEE;
    border-color: #55ACEE;
    color : #fff;
    font-family: "Lucida Console", Monaco, monospace;
}
.tableheading
{
    background-color: #66757f;
    border-bottom: 2px solid #ECECEC;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 50%
    font-size: 18px;
    font-weight: 600;

}
#message
{
    margin-top:20%;
    font-family: "Lucida Console", Monaco, monospace; 
    font-size: 24px ;
    color: #555555;
    text-align: center;
}
#notfoundmessage
{
    color: red;
    font-size : 15px;
    font-family: "Lucida Console", Monaco, monospace; 
}
.fillit
{
    width: 70%;
    height:100%;
    margin : 0 auto;

}
#percentage-modal .modal-dialog
{
    padding: 10px;
    min-width: 1080px;
    margin: 0 auto;
}
.padded
{
    padding-left: 0px;
}
.bottom-margin-small{
    margin-bottom: 10px;
}
#create-report-btn{
    margin-top: 15px;
    padding: 6px 12px;
}
