#data-connect-panel {
	width: 100%;
	margin-top: 44px ! important;
}
#data-connect-modal-dialog h2 {
	margin : 0;
}

#data-connect-modal-dialog .modal-content {
	height: 100%;
	overflow-y: scroll;
}

@media (min-width: 1200px) {
	#data-connect-panel {
		width: 1170px;
		margin: auto;
		padding-left: 15px;
	}
}

#data-connect-modal-dialog #add-datasource-form {
	background-color: #f4f4f4;
	color: #444;
	border: 1px solid #ddd;
	padding: 12px;
	position: absolute;
	right: 14px;
	z-index: 10;
	width: 420px;
}

#data-connect-modal .alert {
	padding: 5px;
}
// overwrite admin.css
#data-connect-modal .alert-danger {
	background-color: #f2dede !important;
	border-color: #ebccd1;
	color: #a94442 !important;
}
#data-connect-modal .alert-success {
	background-color: #dff0d8 !important;
	border-color: #d6e9c6;
	color: #3c763d !important;
}

#data-connect-modal .add-map-rule {
	border : 1px dashed #ccc;
	text-align: center;
	background-color: #FFFFE8;
	padding: 3px;
	margin-bottom: 12px;
}

#data-connect-modal .add-map-rule:hover {
	cursor: pointer;
}

#data-connect-modal .map-rule {
	width: 89%;
}
#data-connect-modal .map-rule label {
	width: 46%;
}
#data-connect-modal .custom-field, #data-connect-modal .tweet-field {
	width: 46%;
	display: inline-block;
	margin-bottom: 8px;
}