/* For unauthorized session */

.home-view-wrapper.not-logged-in {
	min-height: calc(100vh - 50px) !important;
	background: url("../images/init-bg.jpg") !important;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333333;
		opacity: 0.4;
	}
	transition: 0.25s all ease-in-out;
}
.home-view-wrapper {
	min-height: calc(100vh - 50px);
	transition: 0.25s all ease-in-out;
}

.not-logged-in-message {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	@media (min-width: 768px) {
		width: 80%;
	} 
	@media (min-width: 992px) {
		width: 70%;
	} 
	@media (min-width: 1200px) {
		width: 60%;
	} 
	p {
		color: white;
		font-size: 2.5em;	
		line-height: 1.3em;
		margin: 0;

	}
	a {
		display: inline-block;
		margin-top: 20px;
		height: 40px;
		button {
			margin-top: 5px;
			margin-bottom: 7px;
			background-color: #55acee;
			color: white;
			border: none;
			font-size: 13px;
			border-radius: 3px;
			padding: 15px 20px;
			box-shadow: none;
			font-size: 15px;
			.fa.fa-twitter {
				margin-right: 7px;
			}
		}
	}
}





/* Left user info  */
.left-result-container {
	@media (min-width: 992px) {
			padding-left: 0;
	}
}
.home-user-info {
	border: 1px solid #e1e8ed;
	margin-top: 20px; 
	border-radius: 10px;
	background: white;
	.blue-background-placeholder {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		height: 90px;
		background-color: cornflowerblue;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.top-content {
		margin-top: -20px;
		margin-left: 10px;
		img {
			height: 70px;
			width: 72px;
			display: inline-block;
			vertical-align: top;
			border: 4px solid white;
			border-radius: 9px;
		}
		.name-and-screen-name {
			display: inline-block;
			vertical-align: bottom;
			font-size:13px;
			margin-left: 5px;
			span {
				display: block;
			}
			.home-user-screen-name {
				margin-top: -5px;	
				font-style: italic;
			}
			.home-user-name {
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	.bottom-content {
		margin-top: 6px;
		display: block;
		> div {
			display: inline-block;
			width: 32%;
			text-align: left;
			overflow: hidden;
			padding: 10px 5px;
			box-sizing: border-box;
			&:first-child {
				padding-left: 10px;
			}
			&:last-child {
				padding-right: 10px;
			}
			a {
				text-align: left;
				font-size: 12px;
				color: #8c9ca9;
				text-transform: uppercase;
				line-height: 22px;
				span {
					color: #2b7bb9;
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
	}
}

.home-user-trends {
	border: 1px solid #e1e8ed;
	margin-top: 20px;
	background: white;
	border-radius: 10px; 
	padding: 15px 10px;
	.trend-title {
		margin: 0;
		color: #66757f;
		font-size: 18px;
		font-weight: 300;
	}
	#home-trend-list {
		margin-top: 5px;
		margin: 0;
		padding: 10px 0 5px 0; 
		li {
			margin: 0;
			padding: 0;
		}
	}
}

/* Center result */
.center-result-container {
	@media (min-width: 992px) {
		padding-left: 0;
		padding-right: 0;
	}
}
.main-result-container {
	.statuses-container {
		background-color: white;
		padding: 0;
		.item {
			padding: 15px 10px;
			border-bottom: 4px solid #F5F8FA;
			.home-user-screen-name {
				display: inline-block;
				font-weight: 500;
				color: grey;
				font-size: 12px;
			}
			.friend-profile-img {
				border: none;
				padding: 0 !important;
			}
			.home-tweet-text {
				padding-bottom: 0;
				font-size: 13px;
				line-height: 18px;
			}
		}
		
	}
}

/* Right dashboard */
.right-result-container {
	@media (min-width: 992px) {
		padding-right: 0;
	}
}