/* Map view */
.content-wrapper.map-view {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	#map {
		width: 100vw;
		height: 100vh;
	}

	.leaflet-top {
	    top: 50px !important;
	}
}



/* Style for map pop up */
	.leaflet-popup-content {
		width: auto !important;
		p {
			margin: 0 !important;
		}
	}
	.single-tweet.map-tweet {
		margin: 0;
		padding: 0;	
		min-width: 250px;
		position: relative;
		transform: none;
		left: 0;
		top: 0;
		.top-metadata {
			img.avatar {
				height: 55px;
				width: 55px;
			}
			.user-data-wrapper {
				display: inline-block;
				font-size: 11px;
				margin-left: 20px;
				padding: 0;
			}
		}
		.detail-metadata {
			margin-top: 10px;
		}
	}

