/* Styling for SEARCH FRONT END */

	@mixin single-tweet-style() {
		display: block;
		min-height: 71px;
		background: white;
		padding: 9px 12px;
		border-bottom: 1px solid $search-grey-border;
		&:first-child {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		&:hover {
			background: $search-grey-bg;
			cursor: pointer;
		}
		.avatar {
			height: 48px;
			float: left;
			border-radius: 6px;
		}
		.tweet-content {
			margin-left: 58px;
			.name {
				font-size: 14px;
				font-weight: bold;
				color: black;
				&:hover {
					color: $search-twitter-blue;
				}
			}
			.screen-name, .created-at {
				font-size: 13px;
				color: #8899A6;
			}
			.tweet-content-container {
				p {
					margin: 0 0 0 0;
					display: inline;
				}	
				a {
					&:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}
				margin-bottom: 10px;
			}
			.tweet-content-text {
				word-break: keep-all;
				color: #292f33;
				font-size: 14px;
				line-height: 18px;
				.tweet-hashtag {
					color: #55ACEE;
				}
				.tweet-hashtag-current {
					font-weight: bold;
				}
			}
			.images-wrapper {
				margin-top: 8px;
				max-height: 203px;
				overflow: hidden;
				border-radius: 8px;
				img {
					width: 100%
				}
				img.landscape {
					width: auto;
					height: 100%;
				}
				> div {
					overflow: hidden;
				}
			}
			.images-wrapper.showdetail {
				overflow: visible;
				max-height: none;
				img {
					width: 100%;
					height: auto;
				}
				img.landscape {
					width: auto;
					height: 100%;
				}
			}
			.images-wrapper.showcomposition {
				max-height: initial;
			}
			.images-wrapper {
				.double-masonry-item {
					width: 49%;
					max-height: 250px;
					float: left;
					&:first-child {
						margin-right: 1%;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
					&:last-child {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
				.triple-masonry-item {
					width: 49%;
					float: left;
					&:first-child {
						height: 250px;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						margin-right: 1%;
					} 
					&:nth-child(2) {
						margin-bottom: 5px;
						height: 123px;
						border-top-right-radius: 5px;
					}
					&:last-child {
						height: 123px;
						border-bottom-right-radius: 5px;
					}
				}
				.quad-masonry-item {
					width: 49%;
					height: 123px;
					position: relative;
					float: left;
					&:first-child {
						margin-bottom: 6px;
						margin-right: 1%;
						border-top-left-radius: 5px;
					}
					&:nth-child(2) {
						margin-bottom: 6px;
						border-top-right-radius: 5px;
					}
					&:nth-child(3) {
						border-bottom-left-radius: 5px;
						margin-right: 1%;
					}
					&:last-child {
						border-bottom-right-radius: 5px;
					}
				}
			}
		}

		.detail-metadata {
			transition: all linear 0.1s;
			display: block;
			margin-top: 10px;
			span, a {
				font-size: 13px;
				line-height: 24px;
				cursor: pointer;
				color: #8899a6;

			}
			span.link-to-tweet {
				&:hover {
					text-decoration: underline;
					color: #505050;
				}
			}
		}
		.detail-metadata.ng-hide {
			opacity: 0;
		}

		.action-list {
			.rt-count, .fav-count {
				color: #8899A6;
				font-size: 12px;
				font-weight: bold;
				display: inline-block;
				height: 16px;
				margin-left: 5px;
				margin-top: 0;
				vertical-align: middle
			}
			display: inline-block;
			margin-top: 10px;
			> div {
				display: inline-block;
				margin-right: 31px;
			}
			.action-reply {
				button {
					border:none;
					width: 16px;
					height: 16px;
					background: url('../images/reply-sprite.png');
				}
				&:hover {
					button {
						background-position-x: 100%;
					}
				}
			}
			.action-favor {
				button {
					border:none;
					width: 16px;
					height: 16px;
					background: url('../images/favorite-sprite.png');
				}
				&.already {
					button {
						background-position-x: 100%;
					}
				}
				&:hover {
					button {
						background-position-x: 50%;
					}
				}
			}
			.action-retweet {
				button {
					border:none;
					width: 19px;
					height: 16px;
					background: url('../images/retweet-sprite.png');
				}
				&.already {
					button {
						background-position-x: 100%;
					}
				}
				&:hover {
					button {
						background-position-x: 50%;
					}
				}
			}
			.action-more {
				padding-top: 5px;
				padding-bottom: 5px;
				transition: all 0.3s ease-in-out;
				font-size: 6px;
				color: #ADAFB0;
				position: relative;
				top: 2px;
				vertical-align: top;
				.more-actions {
					position: absolute;
					min-width: 230px;
					top: 15px;
					transform: translateX(-2%);
					padding: 10px 0;
					text-align: left;
					background: #FFF none repeat scroll 0% 0% padding-box;
					border: 0px solid rgba(0, 0, 0, 0.25);
					border-radius: 4px;
					box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
					ul {
						margin: 0;
						padding: 0;
						li {
							a {
								font-size: 15px;
								display: block;
								padding: 7px 20px;
								color: $search-grey;
								&:hover {
									background-color: $search-twitter-blue;
									color: white;
								}
							}
						}
					}
				}
			}
		}

		.tweet-images-container {
			max-height: 253px;
			max-width: 100%;
		}
		.tweet-single-image {
			max-height: 253px;
			max-width: 100%;
			border-radius: 6px;
			display: inline-block;
		}
		
	}	

	.content-wrapper {
	    // Overfule adminLTE admin.css
	   // min-height: 100vh !important;
	    background: #F5F8FA !important;
	}
	body {
		position: relative;
	}
	body.tweet-modal-show {
		// filter: blur(5px);
	}

	.modal-wrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2000;
		background: rgba(0,0,0,0);
		transition: all 0.5s ease-in-out;
		.tweet {
			min-width: 30%;
			border-radius: 6px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			display: block;
			background: white;
			padding: 9px 12px;
			border-bottom: 1px solid $search-grey-border;
			&:first-child {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
			&:hover {
				background: $search-grey-bg;
				cursor: pointer;
			}
			.avatar {
				height: 48px;
				float: left;
				border-radius: 6px;
			}
			.name {
				display: inline-block;
				margin-left: 11px;
				font-size: 14px;
				font-weight: bold;
				color: black;
				&:hover {
					color: $search-twitter-blue;
				}
			}
			.screen-name, .created-at {
				font-size: 13px;
				color: black;
			}
			.tweet-content {
				margin-left: 58px;
				
				.tweet-content-container {
					p {
						margin: 0 0 0 0;
						display: inline;
					}	
					a {
						&:hover {
							cursor: pointer;
							text-decoration: underline;
						}
					}
					margin-bottom: 10px;
				}
				.tweet-content-text {
					word-break: keep-all;
					color: #292f33;
					font-size: 14px;
					line-height: 18px;
					.tweet-hashtag {
						color: #55ACEE;
					}
					.tweet-hashtag-current {
						font-weight: bold;
					}
				}
				// Processing imgs layout
					.images-wrapper {
						margin-top: 8px;
						border-radius: 8px;
						img {
							width: 100%
						}
						img.landscape {
							width: auto;
							height: 100%;
						}
					}
					.images-wrapper.showdetail {
						overflow: visible;
						max-height: initial;
						img {
							width: 100%;
							height: auto;
						}
						img.landscape {
							width: auto;
							height: 100%;
						}
					}
					.images-wrapper.showcomposition {
						max-height: initial;
					}
					.images-wrapper {
						.single-masonry-item {
							height: auto;
							width: auto;
							max-width: 100%;
							max-height: 560px;
							overflow: hidden;
						}
						.double-masonry-item {
							width: 49%;
							max-height: 250px;
							float: left;
							overflow: hidden;
							&:first-child {
								margin-right: 1%;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
							}
							&:last-child {
								border-top-right-radius: 5px;
								border-bottom-right-radius: 5px;
							}
						}
						.triple-masonry-item {
							width: 49%;
							float: left;
							overflow: hidden;
							&:first-child {
								height: 250px;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
								margin-right: 1%;
							} 
							&:nth-child(2) {
								margin-bottom: 5px;
								height: 123px;
								border-top-right-radius: 5px;
							}
							&:last-child {
								height: 123px;
								border-bottom-right-radius: 5px;
							}
						}
						.quad-masonry-item {
							width: 49%;
							height: 123px;
							position: relative;
							float: left;
							overflow: hidden;
							&:first-child {
								margin-bottom: 6px;
								margin-right: 1%;
								border-top-left-radius: 5px;
							}
							&:nth-child(2) {
								margin-bottom: 6px;
								border-top-right-radius: 5px;
							}
							&:nth-child(3) {
								border-bottom-left-radius: 5px;
								margin-right: 1%;
							}
							&:last-child {
								border-bottom-right-radius: 5px;
							}
						}
					}
				// End processing imgs layout
			}

			.detail-metadata {
				transition: all linear 0.1s;
				display: block;
				margin-top: 10px;
				span, a {
					font-size: 13px;
					line-height: 24px;
					cursor: pointer;
					color: #8899a6;
				}
				a.link-to-tweet {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.detail-metadata.ng-hide {
				opacity: 0;
			}

			.action-list {
				.rt-count, .fav-count {
					color: #8899A6;
					font-size: 12px;
					font-weight: bold;
					display: inline-block;
					height: 16px;
					margin-left: 5px;
					margin-top: 0;
					vertical-align: middle
				}
				display: inline-block;
				margin-top: 10px;
				> div {
					display: inline-block;
					margin-right: 31px;
				}
				.action-reply {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/reply-sprite.png');
					}
					&:hover {
						button {
							background-position-x: 100%;
						}
					}
				}
				.action-favor {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/favorite-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-retweet {
					button {
						border:none;
						width: 19px;
						height: 16px;
						background: url('../images/retweet-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-more {
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: 6px;
					color: #ADAFB0;
					position: relative;
					top: 2px;
					vertical-align: top;
					.more-actions {
						position: absolute;
						min-width: 150px;
						top: 15px;
						transform: translateX(-2%);
						padding: 6px 0;
						background: #FFF none repeat scroll 0% 0% padding-box;
						border: 0px solid rgba(0, 0, 0, 0.25);
						border-radius: 4px;
						box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
						ul {
							margin: 0;
							padding: 0;
							li {
								a {
									font-size: 15px;
									display: block;
									padding: 2px 5px;
									color: $search-grey;
									text-align: center;
									&:hover {
										background-color: $search-twitter-blue;
										color: white;
									}
								}
							}
						}
					}
				}
			}

			.tweet-images-container {
				max-height: 253px;
				max-width: 100%;
			}
			.tweet-single-image {
				max-height: 253px;
				max-width: 100%;
				border-radius: 6px;
				display: inline-block;
			}
		}
	}
	.modal-wrapper.modal-show {
		background: rgba(0,0,0,0.85);
		display: block;
		transition: all 0.5s ease-in-out;
	}

	.search-container {
		.title-as-current-search-term {
			background-color: #55acee;
			span {
				display: inline-block;
				padding: 14.5px;
				font-weight: 300;
				font-size: 26px;
				color: white;
			}
		}
		background: #F5F8FA;
		// Helper classes
		.abs-center-y {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.abs-center-x {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
		}
		.abs-center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}

		// Generals
		padding: 0;
		

		.input-container {
			margin-top: 10px;
			width: 95%;
			padding: 0;
			form {
				padding-left: 0;
			}
		}

		.content-container {

			width: 85%;
			margin-top: 10px;
			border-radius: 6px;
			padding: 0;
			.new-tweet-noti {
				display: block;
				padding: 10px 1px;
				text-align: center;
				font-size: 13px;
				border-bottom: 1px solid $search-grey-border;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				&:hover {
					background: $search-grey-border;
					cursor: pointer;
					a {
						text-decoration: none;	
					}
				}
			}

			.result-container {
				padding: 0;
				.more-result {
						width: 100%;
						background: none;
						border: none;
						border-top: 1px solid $search-grey-border;
						border-bottom: 1px solid $search-grey-border;
						font-size: 15px;
						text-align: center;
						padding: 13px;
						&:hover {
							font-weight: bold;
							color: $search-twitter-blue;
						}
				}
				.main-result-container {

				}
				.tweet {
					display: block;
					min-height: 71px;
					background: white;
					padding: 9px 12px;
					border-bottom: 1px solid $search-grey-border;
					&:first-child {
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
					}
					&:hover {
						background: $search-grey-bg;
						cursor: pointer;
					}
					.avatar {
						height: 48px;
						float: left;
						border-radius: 6px;
					}
					.tweet-content {
						margin-left: 58px;
						.name {
							font-size: 14px;
							font-weight: bold;
							color: black;
							&:hover {
								color: $search-twitter-blue;
							}
						}
						.screen-name, .created-at {
							font-size: 13px;
							color: #8899A6;
						}
						.tweet-content-container {
							p {
								margin: 0 0 0 0;
								display: inline;
							}	
							a {
								&:hover {
									cursor: pointer;
									text-decoration: underline;
								}
							}
							margin-bottom: 10px;
						}
						.tweet-content-text {
							word-break: keep-all;
							color: #292f33;
							font-size: 14px;
							line-height: 18px;
							.tweet-hashtag {
								color: #55ACEE;
							}
							.tweet-hashtag-current {
								font-weight: bold;
							}
						}
						.images-wrapper {
							margin-top: 8px;
							max-height: 203px;
							overflow: hidden;
							border-radius: 8px;
							img {
								width: 100%
							}
							img.landscape {
								width: auto;
								height: 100%;
							}
							> div {
								overflow: hidden;
							}
						}
						.images-wrapper.showdetail {
							overflow: visible;
							max-height: none;
							img {
								width: 100%;
								height: auto;
							}
							img.landscape {
								width: auto;
								height: 100%;
							}
						}
						.images-wrapper.showcomposition {
							max-height: initial;
						}
						.images-wrapper {
							.double-masonry-item {
								width: 49%;
								max-height: 250px;
								float: left;
								&:first-child {
									margin-right: 1%;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
								}
								&:last-child {
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
							.triple-masonry-item {
								width: 49%;
								float: left;
								&:first-child {
									height: 250px;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									margin-right: 1%;
								} 
								&:nth-child(2) {
									margin-bottom: 5px;
									height: 123px;
									border-top-right-radius: 5px;
								}
								&:last-child {
									height: 123px;
									border-bottom-right-radius: 5px;
								}
							}
							.quad-masonry-item {
								width: 49%;
								height: 123px;
								position: relative;
								float: left;
								&:first-child {
									margin-bottom: 6px;
									margin-right: 1%;
									border-top-left-radius: 5px;
								}
								&:nth-child(2) {
									margin-bottom: 6px;
									border-top-right-radius: 5px;
								}
								&:nth-child(3) {
									border-bottom-left-radius: 5px;
									margin-right: 1%;
								}
								&:last-child {
									border-bottom-right-radius: 5px;
								}
							}
						}
					}

					.detail-metadata {
						transition: all linear 0.1s;
						display: block;
						margin-top: 10px;
						span, a {
							font-size: 13px;
							line-height: 24px;
							cursor: pointer;
							color: #8899a6;

						}
						span.link-to-tweet {
							&:hover {
								text-decoration: underline;
								color: #505050;
							}
						}
					}
					.detail-metadata.ng-hide {
						opacity: 0;
					}

					.action-list {
						.rt-count, .fav-count {
							color: #8899A6;
							font-size: 12px;
							font-weight: bold;
							display: inline-block;
							height: 16px;
							margin-left: 5px;
							margin-top: 0;
							vertical-align: middle
						}
						display: inline-block;
						margin-top: 10px;
						> div {
							display: inline-block;
							margin-right: 31px;
						}
						.action-reply {
							button {
								border:none;
								width: 16px;
								height: 16px;
								background: url('../images/reply-sprite.png');
							}
							&:hover {
								button {
									background-position-x: 100%;
								}
							}
						}
						.action-favor {
							button {
								border:none;
								width: 16px;
								height: 16px;
								background: url('../images/favorite-sprite.png');
							}
							&.already {
								button {
									background-position-x: 100%;
								}
							}
							&:hover {
								button {
									background-position-x: 50%;
								}
							}
						}
						.action-retweet {
							button {
								border:none;
								width: 19px;
								height: 16px;
								background: url('../images/retweet-sprite.png');
							}
							&.already {
								button {
									background-position-x: 100%;
								}
							}
							&:hover {
								button {
									background-position-x: 50%;
								}
							}
						}
						.action-more {
							padding-top: 5px;
							padding-bottom: 5px;
							transition: all 0.3s ease-in-out;
							font-size: 6px;
							color: #ADAFB0;
							position: relative;
							top: 2px;
							vertical-align: top;
							.more-actions {
								position: absolute;
								min-width: 230px;
								top: 15px;
								transform: translateX(-2%);
								padding: 10px 0;
								text-align: left;
								background: #FFF none repeat scroll 0% 0% padding-box;
								border: 0px solid rgba(0, 0, 0, 0.25);
								border-radius: 4px;
								box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
								ul {
									margin: 0;
									padding: 0;
									li {
										a {
											font-size: 15px;
											display: block;
											padding: 7px 20px;
											color: $search-grey;
											&:hover {
												background-color: $search-twitter-blue;
												color: white;
											}
										}
									}
								}
							}
						}
					}

					.tweet-images-container {
						max-height: 253px;
						max-width: 100%;
					}
					.tweet-single-image {
						max-height: 253px;
						max-width: 100%;
						border-radius: 6px;
						display: inline-block;
					}
				}
			}

			#search-map {
				width: 100%;
				height: 100vh;
				position: fixed !important;
				margin-top: 0 !important;
				left: 0;
				.leaflet-top.leaflet-left, .leaflet-top.leaflet-right {
					top: 52px;
				}
				.from-map-to-single-tweet {
					margin-right: 5px;
					text-decoration: none;
				}
			}
		}
	}

/* Link's debugged content */
	.debugged-link-container {
		overflow: hidden;
		.article-container {
			> a {
				display: block;
			}
			display: block;
			.article-img-container {
				width: 100%;
				max-height: 285px;
				overflow: hidden;
				img {
					width: 100%;
					margin: 10px 0;
				}
			}
			.article-title, .article-author {
				margin-top: 10px;
				color: black;
				font-size: 15px;
				text-transform: capitalize;
			}
			.article-author {
				font-weight: 600;
				margin: 10px 0;
			}
		}
	}

/* Search filters */
	.search-filters-container {
		height: 42px;
	}
	.filters-container {
		position: relative;
		z-index: 100;
		background: white;
		border-radius: 6px;
		text-align: center;
		.result-filters-separator {
			width: 100%;
			height: 10px;
			background-color: #F5F8FA;
		}
		ul {
			margin-left: 0 !important;
			padding-left: 0 !important;
		}
		ul li {
			display: inline-block;
			position: relative;
			//font-size: 18px;
			padding: 14px 0;
			transition: all 0.0s ease-in-out;
			&:hover {
				cursor: pointer;
			}
			&::after {
				content: " ";
				width: 100%;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 4px;
				background: rgba(85, 172, 238, 0);
				transition: all 0.0s ease-in-out;
			}
			&.active::after, &:hover::after {
				background: #66A9E2;
			}

			a {
				display: inline-block;
				padding: 0 24px;
				@media (min-width: 992px) and (max-width: 1280px) {
					padding: 0 13px;
				}
				color: #505050;
				font-size: 14px;
				border-left: 1px solid #ccd6dd;
				text-decoration: none;
				text-transform: capitalize;
				&:hover {
					text-decoration: none;
				}
			}
			&:first-child {
				a {
					border-left: none;	
				}
			}
		}
	}

	.tweet-content-container {
		word-wrap: break-word;
	}

/* Search view user trends */
	.search-view-container {
		.dashboard-left {
			@media (max-width: 991px) {
				padding-right: 0;
			}
			padding-right: 10px;
		}	
	}
	.dashboard-left {
		padding-left: 0;
	}
	.search-view-user-trends {
		padding-left: 0;
		width: 100%;
		border-radius: 6px;
		padding-right: 0;
		.home-user-trends {
			margin-top: 0;
			background: white;
			border: none;
			border-radius: 6px;
			padding: 15px;
			.trend-title {
				font-size: 25px;
				font-weight: 500;
			}
			#home-trend-list {
				li {
					a {
						font-size: 15px;
						display: inline-block;
						margin-bottom: 4px;
					}
				}
			}
		}
	}


/* Style for account search, reused from home view */
.account-item {
	.home-user-info {
		margin-top: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
		height: 300px;
		@media (min-width: 0px) and (max-width: 767px) {
			height: 250px;
		}
		overflow: hidden;
		.blue-background-placeholder {
			height: 100px;
		}
		.bottom-content {
			p {
				padding: 20px;
				color: #66757f;
				font-size: 14px;
				line-height: 1.375em;
				height: 135px;
			}
		}
		.home-user-screen-name {
			margin-top: 5px !important;
		}
		.home-user-screen-name, .home-user-name {
			&:hover {
				color: #3c8dbc;
				text-decoration: underline;
			}
		}
	}
}


/* Style for advanced search */
	.advanced-search-view-container {
		min-height: 100vh;
		background-color: white;
		padding-bottom: 200px;
		text-align: center;
		background-color: #F5F8FA;
		.advanced-search-title {
			font-size: 27px;
			font-weight: 500;
			text-align: center;
			margin: 20px 0;
			span {
				font-weight: 700;
			}
		}
		.advanced-search-form-container {
			display: inline-block;
			text-align: left;
			.form-section {
				margin-bottom: 20px;
				.field-title {
					font-size: 14px;
					font-weight: 500;
					display: inline-block;
					min-width: 200px;
				}
				.field-title.profane-field-title {
					vertical-align: top;
					position: relative;
					top: 7px;
				}
				.profanity-checkbox {
					display: inline-block;
				    height: 30px;
				    width: 30px;
				    border: 1px solid #e1e8ed;
				    border-radius: 3px;
				    background-color:  white;
				    text-align: center;
				    position: relative;
				    i {
				    	font-size: 18px;
				    	color: #55acee;
				    	position: absolute;
				    	left: 6px;
				    	top: 6px;
				    }
				}
			}
			.words-section, .people-section, .location-section {
				input[type="text"] {
					width: 400px;
					background-color: #fff;
					border: 1px solid #e1e8ed;
					border-radius: 3px;
					padding: 8px;
					display: inline-block;
					margin-bottom: 20px;
				}
			}
			.location-section {
				> div {
					position: relative;
					display: inline-block;
					margin: 0;
					padding: 0;
					margin-bottom: 20px;
				}
				.suggestions {
					position: absolute;
					  left: -1px;
					  top: 120%;
					  width: 252px;
					  z-index: 101;
				}
				.chosen-location {
					display: inline-block;
					font-size: 15px;
					font-weight: 500;
					width: 250px !important;
					margin-bottom: 0 !important;
					margin: 0;
					padding: 10px 10px;
					border: 1px solid #e1e8ed;
					border-radius: 3px;
					/* &:hover {
						cursor: pointer;
						background-color: $search-twitter-blue;
						color: white;
					} */
				}
				.chosen-location.chosen {
					background-color: $search-twitter-blue;
					color: white;
				}
				.location-hint {
					display: inline-block;
					margin-left: 10px;
					font-size: 14px;
					font-style: italic;
				}
				ul {
					display: inline-block;
					margin: 0;
					padding: 0;
					li {
						background-color: rgba(85,172,238,0.9);
						color: white;
						display: block;
						padding: 8px;
						border: none;
						&:hover {
							background-color: white;
							color: rgba(85,172,238,1);
							cursor: pointer;
						}
						&:first-child {
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}
						&:last-child {
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
				}
				.search-box input[type="text"] {
					margin-bottom: 20;
				}
			}

			.date-range-section {
				.from-this-date {
				}
				.form-inline {
					display: inline-block;
					margin-bottom: 20px;
				}
			}
		}
		.reset-advanced-search, .submit-advanced-search {
			display: inline-block;
			min-width: 150px;
			margin-top: 50px;
			box-sizing: border-box;
			font-size: 15px;
			padding: 12px 12px;
			border: none;
			border-radius: 5px;

		}
		.reset-advanced-search {
			margin-left: 20px;
			color: white;
			background: rgba(20,20,20,0.2);
			&:hover {
				background: rgba(20,20,20,0.6);
			}
		}
		.submit-advanced-search {
			color: white;
			background-color: rgba(85, 172, 238, 0.8);
			&:hover {
				background-color: rgba(85, 172, 238, 1);
			}
		}
	}
	.search-container.advanced-result-container {
		.content-container {
			width: 100%;
			border-radius: 0;
			margin-top: 0;
			display: block;
			text-align: center;
			.final-search-term {
				margin: 0;
				padding: 14.5px 0;
				background-color: #55acee;
				color: white;
				span {
					font-style: italic;
				}
			}
			.result-message {
				margin: 0;
				padding: 15px 0;
				text-align: center;
				span {
					font-size: 22px;
					display: inline-block;
					color: $search-twitter-blue;
				}
				.create-new-search {
					display: block;
					span {
						font-size: 15px;
						color: black;
						padding: 2px 1px;
						border-bottom: 1px solid rgba(0,0,0,0.7);
						display: inline-block;	
						font-style: italic;
						&:hover {
							cursor: pointer;
						}
					}
					
				}
			}
			.result-container {
				display: inline-block;
				width: 70%;
				max-width: 900px;
				text-align: left;
				
			}
		}
	}
	#advanced-search-map {
		width:100%; height:100vh;
	}

