.single-imported-status .right-logo {
	float: right;
}

.single-imported-status .right-logo img {
	width: 100px;
	height: 50px;
}
.single-imported-status .body {
	min-height: 108px;
}

.single-imported-status .footer {
	width: 100%;
}

.single-imported-status .footer p {
	float: right;
}