// colors
$background-light: #fff;
$background-dark: #E3E3E3;
$background-top: #384350;

$border-light: #eee;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;