@import 'bootstrap';
@import 'vars';

@import 'loader';

body {
  font-family: Helvetica, sans-serif;
  background-color: $background-light;
  margin-top: 70px;
}

.navbar {
	background-color: $background-top;
	border: 0;

	.navbar-brand {
		color: #fff;
	}
}

.side {
	.side-block {
		background-color: $background-dark;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-khtml-border-radius: 4px;
		padding: 20px;
	}
}

.status {
	padding-bottom: 10px;
	border-bottom: 1px solid $border-light;
	margin-bottom: 20px;

	.inner {
		margin-left: 58px;

		.header {
			.user-avatar {
				float: left;
				margin-top: 3px;
				margin-left: -58px;
				width: 48px;
				height: 48px;
				border-radius: 5px;
				-moz-force-broken-image-icon: 1;
			}
		}
	}
}