@import 'bootstrap';
@import 'reset';
@import 'vars';
@import 'loader';
@import 'layout/cms-view';
* {
    font-family: $font-family;
}
/* Admin LTE */
/* Topnav */

.universal-search {
    display: inline-block;
}

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none;
}
.main-header #navbar-search-input
{
	width:auto;
	border-radius:21px;
}
#brandimage{
    margin-top: -15px;
}

// Twitter sign in
	.signin-twitter {
		height: 50px;
		min-width: 300px;
		overflow: hidden;
		display: inline-block;
		line-height: 20px;
		color: white;
		.initial-userinfo {
			height: 50px;
			span {
				display: inline-block;
				height: 50px;
				font-size: 14px;
				padding: 17px;
				color: white;
			}
			span.avatar-container {
				padding: 5px 0;
			}
			img {
				height: 40px;
				display: inline-block;
				border-radius: 20px;
				vertical-align: middle;
			}
		}
		.signin {
			span {
				display: inline-block;
				height: 50px;
				font-size: 14px;
				padding: 17px;
				color: white;
			}
		}
	}
/* Old styles */

body {
    font-family: Helvetica, sans-serif;
    background-color: #F5F8FA;
}

.navbar {
    background-color: $background-top;
    border: 0;
    .navbar-brand {
        color: #fff;
    }
}

.side {
    .side-block {
        background-color: $background-dark;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -khtml-border-radius: 4px;
        padding: 20px;
    }
}

.status {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-light;
    margin-bottom: 20px;
    &.highlight {
        .inner {
            margin-left: 218px;
            .header {
                .user-avatar {
                    width: 200px;
                    height: 200px;
                    margin-left: -218px;
                }
            }
            .content {
                font-size: 20px;
            }
        }
    }
    .inner {
        margin-left: 58px;
        .header {
            .user-avatar {
                float: left;
                margin-top: 3px;
                margin-left: -58px;
                width: 48px;
                height: 48px;
                border-radius: 5px;
                -moz-force-broken-image-icon: 1;
            }
        }
    }
}

.masonry-brick {
    width: 33.2%;
    padding: 5px;
}

.masonry-brick img {
    display: block;
    width: 100.5%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.evaluation {
    > div.row {
        text-align: center;
    }
    form {
        display: inline-block;
    }
}

.eval-widget {
    .item {
        min-height: 42px;
    }
    margin-top: 50px;
    padding: 15px;
    h1 {
        text-align: center;
    }
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    .item {
        position: relative;
        margin-top: 11px;
    }
    p {
        display: inline-block;
        position: relative;
        z-index: 200;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 25px;
    }
    .percentage {
        float: right;
        display: inline-block;
        position: relative;
        z-index: 200;
        font-size: 16px;
        margin-top: 10px;
        margin-right: 15px;
    }
    .percent-bar {
        position: absolute;
        z-index: 100;
        left: 15px;
        height: 100%;
        border-radius: 5px;
    }
}

.tweeters .percent-bar {
    background-color: #9BD5BB;
}

.mentions .percent-bar {
    background-color: #87AFCC;
}

.tags .percent-bar {
    background-color: #D6A6BC;
}

.date-input {
    min-width: 275px;
}

.wall {
    margin-top: -70px;
}

.wall-search {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    form {
        display: inline-block;
    }
}

.wall-display {
    h1 {
        text-align: center;
        font-size: 100px;
    }
    .status-list {
        margin-top: 60px;
    }
}

.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
    opacity: 0;
    height: 0px;
}

.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave {
    opacity: 1;
    height: 200px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* Styling for SEARCH FRONT END */

.content-wrapper {
    // Overfule adminLTE admin.css
    min-height: 100vh !important;
    background: #F5F8FA !important;
}

/* Styling for Wall frontend */
	body {
		position: relative;
	}
	body.tweet-modal-show {
		// filter: blur(5px);
	}

	.modal-wrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2000;
		background: rgba(0,0,0,0);
		transition: all 0.5s ease-in-out;
		.tweet {
			min-width: 30%;
			border-radius: 6px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			display: block;
			background: white;
			padding: 9px 12px;
			border-bottom: 1px solid $search-grey-border;
			&:first-child {
				border-top-left-radius: 6px;
				border-right-left-radius: 6px;
			}
			&:hover {
				background: $search-grey-bg;
				cursor: pointer;
			}
			.avatar {
				height: 48px;
				float: left;
				border-radius: 6px;
			}
			.name {
				display: inline-block;
				margin-left: 11px;
				font-size: 14px;
				font-weight: bold;
				color: black;
				&:hover {
					color: $search-twitter-blue;
				}
			}
			.screen-name, .created-at {
				font-size: 13px;
				color: black;
			}
			.tweet-content {
				margin-left: 58px;
				
				.tweet-content-text {
					word-break: break-all;
					color: #292f33;
					font-size: 14px;
					line-height: 18px;
					.tweet-hashtag {
						color: #55ACEE;
					}
					.tweet-hashtag-current {
						font-weight: bold;
					}
				}
				// Processing imgs layout
					.images-wrapper {
						margin-top: 8px;
						border-radius: 8px;
						img {
							width: 100%
						}
						img.landscape {
							width: auto;
							height: 100%;
						}
					}
					.images-wrapper.showdetail {
						overflow: visible;
						max-height: initial;
						img {
							width: 100%;
							height: auto;
						}
						img.landscape {
							width: auto;
							height: 100%;
						}
					}
					.images-wrapper.showcomposition {
						max-height: initial;
					}
					.images-wrapper {
						.single-masonry-item {
							height: auto;
							width: auto;
							max-width: 100%;
							max-height: 560px;
							overflow: hidden;
						}
						.double-masonry-item {
							width: 49%;
							max-height: 250px;
							float: left;
							overflow: hidden;
							&:first-child {
								margin-right: 1%;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
							}
							&:last-child {
								border-top-right-radius: 5px;
								border-bottom-right-radius: 5px;
							}
						}
						.triple-masonry-item {
							width: 49%;
							float: left;
							overflow: hidden;
							&:first-child {
								height: 250px;
								border-top-left-radius: 5px;
								border-bottom-left-radius: 5px;
								margin-right: 1%;
							} 
							&:nth-child(2) {
								margin-bottom: 5px;
								height: 123px;
								border-top-right-radius: 5px;
							}
							&:last-child {
								height: 123px;
								border-bottom-right-radius: 5px;
							}
						}
						.quad-masonry-item {
							width: 49%;
							height: 123px;
							position: relative;
							float: left;
							overflow: hidden;
							&:first-child {
								margin-bottom: 6px;
								margin-right: 1%;
								border-top-left-radius: 5px;
							}
							&:nth-child(2) {
								margin-bottom: 6px;
								border-top-right-radius: 5px;
							}
							&:nth-child(3) {
								border-bottom-left-radius: 5px;
								margin-right: 1%;
							}
							&:last-child {
								border-bottom-right-radius: 5px;
							}
						}
					}
				// End processing imgs layout
			}

			.detail-metadata {
				transition: all linear 0.1s;
				display: block;
				margin-top: 10px;
				span, a {
					font-size: 13px;
					line-height: 24px;
					cursor: pointer;
					color: #8899a6;
				}
				a.link-to-tweet {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.detail-metadata.ng-hide {
				opacity: 0;
			}

			.action-list {
				.rt-count, .fav-count {
					color: #8899A6;
					font-size: 12px;
					font-weight: bold;
					display: inline-block;
					height: 16px;
					margin-left: 5px;
					margin-top: 0;
					vertical-align: middle
				}
				display: inline-block;
				margin-top: 10px;
				> div {
					display: inline-block;
					margin-right: 31px;
				}
				.action-reply {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/reply-sprite.png');
					}
					&:hover {
						button {
							background-position-x: 100%;
						}
					}
				}
				.action-favor {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/favorite-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-retweet {
					button {
						border:none;
						width: 19px;
						height: 16px;
						background: url('../images/retweet-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-more {
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: 6px;
					color: #ADAFB0;
					position: relative;
					top: 2px;
					.more-actions {
						position: absolute;
						min-width: 150px;
						top: 15px;
						transform: translateX(-2%);
						padding: 6px 0;
						background: #FFF none repeat scroll 0% 0% padding-box;
						border: 0px solid rgba(0, 0, 0, 0.25);
						border-radius: 4px;
						box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
						ul {
							margin: 0;
							padding: 0;
							li {
								a {
									font-size: 15px;
									display: block;
									padding: 2px 5px;
									color: $search-grey;
									text-align: center;
									&:hover {
										background-color: $search-twitter-blue;
										color: white;
									}
								}
							}
						}
					}
				}
			}

			.tweet-images-container {
				max-height: 253px;
				max-width: 100%;
			}
			.tweet-single-image {
				max-height: 253px;
				max-width: 100%;
				border-radius: 6px;
				display: inline-block;
			}
		}
	}
	.modal-wrapper.modal-show {
		background: rgba(0,0,0,0.85);
		display: block;
		transition: all 0.5s ease-in-out;
	}

	.search-container {
		background: #F5F8FA;
		// Helper classes
		.abs-center-y {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.abs-center-x {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
		}
		.abs-center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}

		// Generals
		padding: 0;
		

		.input-container {
			margin-top: 10px;
			width: 95%;
			padding: 0;
			form {
				padding-left: 0;
			}
		}

		.content-container {

			width: 95%;
			margin-top: 10px;
			border-radius: 6px;
			padding: 0;
			.new-tweet-noti {
				display: block;
				padding: 10px 1px;
				text-align: center;
				font-size: 13px;
				border-bottom: 1px solid $search-grey-border;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				&:hover {
					background: $search-grey-border;
					cursor: pointer;
					a {
						text-decoration: none;	
					}
				}
			}

			.result-container {
				border: 1px solid $search-grey-border;
				padding: 0;
				.more-result {
						width: 100%;
						background: none;
						border: none;
						border-top: 1px solid $search-grey-border;
						border-bottom: 1px solid $search-grey-border;
						font-size: 15px;
						text-align: center;
						padding: 13px;
						&:hover {
							font-weight: bold;
							color: $search-twitter-blue;
						}
				}
				.main-result-container {

				}
				.tweet {
					display: block;
					min-height: 71px;
					background: white;
					padding: 9px 12px;
					border-bottom: 1px solid $search-grey-border;
					&:first-child {
						border-top-left-radius: 6px;
						border-right-left-radius: 6px;
					}
					&:hover {
						background: $search-grey-bg;
						cursor: pointer;
					}
					.avatar {
						height: 48px;
						float: left;
						border-radius: 6px;
					}
					.tweet-content {
						margin-left: 58px;
						.name {
							font-size: 14px;
							font-weight: bold;
							color: black;
							&:hover {
								color: $search-twitter-blue;
							}
						}
						.screen-name, .created-at {
							font-size: 13px;
							color: #8899A6;
						}
						.tweet-content-text {
							word-break: break-all;
							color: #292f33;
							font-size: 14px;
							line-height: 18px;
							.tweet-hashtag {
								color: #55ACEE;
							}
							.tweet-hashtag-current {
								font-weight: bold;
							}
						}
						.images-wrapper {
							margin-top: 8px;
							max-height: 203px;
							overflow: hidden;
							border-radius: 8px;
							img {
								width: 100%
							}
							img.landscape {
								width: auto;
								height: 100%;
							}
							> div {
								overflow: hidden;
							}
						}
						.images-wrapper.showdetail {
							overflow: visible;
							max-height: none;
							img {
								width: 100%;
								height: auto;
							}
							img.landscape {
								width: auto;
								height: 100%;
							}
						}
						.images-wrapper.showcomposition {
							max-height: initial;
						}
						.images-wrapper {
							.double-masonry-item {
								width: 49%;
								max-height: 250px;
								float: left;
								&:first-child {
									margin-right: 1%;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
								}
								&:last-child {
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
							.triple-masonry-item {
								width: 49%;
								float: left;
								&:first-child {
									height: 250px;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									margin-right: 1%;
								} 
								&:nth-child(2) {
									margin-bottom: 5px;
									height: 123px;
									border-top-right-radius: 5px;
								}
								&:last-child {
									height: 123px;
									border-bottom-right-radius: 5px;
								}
							}
							.quad-masonry-item {
								width: 49%;
								height: 123px;
								position: relative;
								float: left;
								&:first-child {
									margin-bottom: 6px;
									margin-right: 1%;
									border-top-left-radius: 5px;
								}
								&:nth-child(2) {
									margin-bottom: 6px;
									border-top-right-radius: 5px;
								}
								&:nth-child(3) {
									border-bottom-left-radius: 5px;
									margin-right: 1%;
								}
								&:last-child {
									border-bottom-right-radius: 5px;
								}
							}
						}
					}

					.detail-metadata {
						transition: all linear 0.1s;
						display: block;
						margin-top: 10px;
						span, a {
							font-size: 13px;
							line-height: 24px;
							cursor: pointer;
							color: #8899a6;
						}
						a.link-to-tweet {
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.detail-metadata.ng-hide {
						opacity: 0;
					}

					.action-list {
						.rt-count, .fav-count {
							color: #8899A6;
							font-size: 12px;
							font-weight: bold;
							display: inline-block;
							height: 16px;
							margin-left: 5px;
							margin-top: 0;
							vertical-align: middle
						}
						display: inline-block;
						margin-top: 10px;
						> div {
							display: inline-block;
							margin-right: 31px;
						}
						.action-reply {
							button {
								border:none;
								width: 16px;
								height: 16px;
								background: url('../images/reply-sprite.png');
							}
							&:hover {
								button {
									background-position-x: 100%;
								}
							}
						}
						.action-favor {
							button {
								border:none;
								width: 16px;
								height: 16px;
								background: url('../images/favorite-sprite.png');
							}
							&.already {
								button {
									background-position-x: 100%;
								}
							}
							&:hover {
								button {
									background-position-x: 50%;
								}
							}
						}
						.action-retweet {
							button {
								border:none;
								width: 19px;
								height: 16px;
								background: url('../images/retweet-sprite.png');
							}
							&.already {
								button {
									background-position-x: 100%;
								}
							}
							&:hover {
								button {
									background-position-x: 50%;
								}
							}
						}
						.action-more {
							padding-top: 5px;
							padding-bottom: 5px;
							transition: all 0.3s ease-in-out;
							font-size: 6px;
							color: #ADAFB0;
							position: relative;
							top: 2px;
							.more-actions {
								position: absolute;
								min-width: 150px;
								top: 15px;
								transform: translateX(-2%);
								padding: 6px 0;
								background: #FFF none repeat scroll 0% 0% padding-box;
								border: 0px solid rgba(0, 0, 0, 0.25);
								border-radius: 4px;
								box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
								ul {
									margin: 0;
									padding: 0;
									li {
										a {
											font-size: 15px;
											display: block;
											padding: 2px 5px;
											color: $search-grey;
											text-align: center;
											&:hover {
												background-color: $search-twitter-blue;
												color: white;
											}
										}
									}
								}
							}
						}
					}

					.tweet-images-container {
						max-height: 253px;
						max-width: 100%;
					}
					.tweet-single-image {
						max-height: 253px;
						max-width: 100%;
						border-radius: 6px;
						display: inline-block;
					}
				}
			}
		}
	}
	
/* End styling for search frontend */

/* Link's debugged content */
	.debugged-link-container {
		overflow: hidden;
		.article-container {
			> a {
				display: block;
			}
			display: block;
			.article-img-container {
				width: 100%;
				max-height: 285px;
				overflow: hidden;
				img {
					width: 100%;
					margin: 10px 0;
				}
			}
			.article-title, .article-author {
				margin-top: 10px;
				color: black;
				font-size: 15px;
				text-transform: capitalize;
			}
			.article-author {
				font-weight: 600;
				margin: 10px 0;
			}
		}
	}
/* End link's debugged content */

/* Search filters */
	.filters-container {
		height: 46px;
		text-align: center;
		ul li {
			display: inline-block;
			position: relative;
			//font-size: 18px;
			padding: 14px 0;
			transition: all 0.15s ease-in-out;
			&:hover {
				cursor: pointer;
			}
			&::after {
				content: " ";
				width: 100%;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 4px;
				background: rgba(85, 172, 238, 0);
				transition: all 0.15s ease-in-out;
			}
			&.active::after, &:hover::after {
				background: #66A9E2;
			}

			a {
				display: inline-block;
				padding: 0 24px;
				color: #505050;
				font-size: 14px;
				border-left: 1px solid #ccd6dd;
				text-decoration: none;
				text-transform: capitalize;
				&:hover {
					text-decoration: none;
				}
			}
			&:first-child {
				a {
					border-left: none;	
				}
			}
		}
	}

	
/* End search filters */

/* Styles for single tweet views */
	.single-tweet {
		color: black;
		display: inline-block;
		width: 50%;
		margin-left: 25%;
		margin-top: 50px;
		background-color: white;
		padding: 10px;
		border-radius: 9px;
		img.avatar, .user-data-wrapper {
			display: inline-block;
			vertical-align: top;
		}
		.user-data-wrapper {
			height: 73px;
			box-sizing: border-box;
			padding: 11px 0px 11px 4px;
			line-height: 21px;
			.name, .screen-name {
				font-size: 1.5em;
				display: block;
			}	
		}
		img.avatar {
			width: 73px;
		}
		.tweet-content {
			display: inline-block;
			.tweet-content-text {
				font-size: 1.3em;
				line-height: 1.4em;
				margin-top: 10px;
			}
			.action-list {
				.rt-count, .fav-count {
					color: #8899A6;
					font-size: 12px;
					font-weight: bold;
					display: inline-block;
					height: 16px;
					margin-left: 5px;
					margin-top: 0;
					vertical-align: middle
				}
				display: inline-block;
				margin-top: 10px;
				> div {
					display: inline-block;
					margin-right: 31px;
				}
				.action-reply {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/reply-sprite.png');
					}
					&:hover {
						button {
							background-position-x: 100%;
						}
					}
				}
				.action-favor {
					button {
						border:none;
						width: 16px;
						height: 16px;
						background: url('../images/favorite-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-retweet {
					button {
						border:none;
						width: 19px;
						height: 16px;
						background: url('../images/retweet-sprite.png');
					}
					&.already {
						button {
							background-position-x: 100%;
						}
					}
					&:hover {
						button {
							background-position-x: 50%;
						}
					}
				}
				.action-more {
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: 6px;
					color: #ADAFB0;
					position: relative;
					top: 2px;
					&:hover {
						cursor: pointer;
					}
				}
			}
			.detail-metadata {
				color: $search-grey;
				margin-top: 11px;
				text-align: left;
			}
			// Processing imgs layout
				.images-wrapper {
					margin-top: 8px;
					border-radius: 8px;
					img {
						width: 100%
					}
					img.landscape {
						width: auto;
						height: 100%;
					}
				}
				.images-wrapper.showdetail {
					overflow: visible;
					max-height: initial;
					img {
						width: 100%;
						height: auto;
					}
					img.landscape {
						width: auto;
						height: 100%;
					}
				}
				.images-wrapper.showcomposition {
					max-height: initial;
				}
				.images-wrapper {
					.single-masonry-item {
						height: auto;
						width: auto;
						max-width: 100%;
						max-height: 560px;
						overflow: hidden;
					}
					.double-masonry-item {
						width: 49%;
						max-height: 250px;
						float: left;
						overflow: hidden;
						&:first-child {
							margin-right: 1%;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
						&:last-child {
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
					.triple-masonry-item {
						width: 49%;
						float: left;
						overflow: hidden;
						&:first-child {
							height: 250px;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
							margin-right: 1%;
						} 
						&:nth-child(2) {
							margin-bottom: 5px;
							height: 123px;
							border-top-right-radius: 5px;
						}
						&:last-child {
							height: 123px;
							border-bottom-right-radius: 5px;
						}
					}
					.quad-masonry-item {
						width: 49%;
						height: 123px;
						position: relative;
						float: left;
						overflow: hidden;
						&:first-child {
							margin-bottom: 6px;
							margin-right: 1%;
							border-top-left-radius: 5px;
						}
						&:nth-child(2) {
							margin-bottom: 6px;
							border-top-right-radius: 5px;
						}
						&:nth-child(3) {
							border-bottom-left-radius: 5px;
							margin-right: 1%;
						}
						&:last-child {
							border-bottom-right-radius: 5px;
						}
					}
				}
			// End processing imgs layout
		}
	}
/* End styles for single tweet views */


.layoutRadio {
    margin: 12px;
}

.layoutRadio > input {
    /* HIDE RADIO */
    
    display: none;
}

.layoutRadio > input + img {
    /* IMAGE STYLES */
    
    cursor: pointer;
    border: 4px solid transparent;
    &:hover {
        border: 4px solid #D8D8D8;
        cursor: pointer;
    }
}

.layoutRadio > input:checked + img {
    /* (CHECKED) IMAGE STYLES */
    
    border: 4px solid #C8C8C8;
    border-radius: 5%;
}

.wall-preview {
    background-color: #aaa;
    border: 22px solid #C8C8C8;
    border-radius: 5%;
    .wall-preview-header {
        height: 100px;
        display: flex;
        flex-direction: row;
        .preview-hashtag, .preview-event-name, .preview-banner {
            text-align: center;
            font-size: 18px;
        }
    }
}

.wall-preview-header > [class^="col-"],
.wall-preview-header > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}


.design-box {
    margin-top: 20px;
}

.linear {
    display: block;
    min-height: 164px;
    background: white;
    padding: 20px 12px;
    margin-bottom: 25px;
    border-bottom: 1px solid $search-grey-border;
    &:first-child {
        border-top-left-radius: 6px;
        border-right-left-radius: 6px;
    }
    .avatar {
        height: 130px;
        max-width: 130px;
        float: left;
        border-radius: 6px;
    }
    .linear-content {
        position: relative;
        margin-left: 150px;
        min-height: 130px;
        .name {
            &:hover {
                color: $search-twitter-blue;
            }
        }
        .linear-content-text {
            word-break: break-all;
            color: #292f33;
            font-size: 28px;
            line-height: 120%;
            .linear-hashtag {
                color: #55ACEE;
            }
            .linear-hashtag-current {
                font-weight: bold;
            }
        }
        .metadata {
            /*			position: absolute;
			bottom: 0;*/
            
            font-size: 18px;
            color: #8899A6;
            font-weight: normal;
            font-style: italic;
        }
    }
}

.wall-header {
    min-height: 100px;
    background-color: #3c8dbc;
    display: flex;
    flex-direction: row;
    .hashtag, .event-name, .banner, .wall-settings-icon {
        text-align: center;
        color: white;
        font-size: 24px;
    }
}

.wall-header > [class^="col-"],
.wall-header > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall-body {
    min-height:100% !important;
}
.wall-footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 42;
}
.wall-container {
    background: #F5F8FA;
    // Helper classes
    .abs-center-y {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .abs-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    // Generals
    padding: 0;
    .input-container {
        margin-top: 10px;
        width: 95%;
        padding: 0;
        form {
            padding-left: 0;
        }
    }
    .content-container {
        width: 95%;
        margin-top: 10px;
        border-radius: 6px;
        padding: 0;
        .new-tweet-noti {
            display: block;
            padding: 10px 1px;
            text-align: center;
            font-size: 13px;
            border-bottom: 1px solid $search-grey-border;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            &:hover {
                background: $search-grey-border;
                cursor: pointer;
                a {
                    text-decoration: none;
                }
            }
        }
        .result-container {
            border: 1px solid $search-grey-border;
            padding: 0;
        }
        .tweet {
            display: block;
            min-height: 71px;
            background: white;
            padding: 9px 12px;
            border-bottom: 1px solid $search-grey-border;
            &:first-child {
                border-top-left-radius: 6px;
                border-right-left-radius: 6px;
            }
            &:hover {
                background: $search-grey-bg;
                cursor: pointer;
            }
            .avatar {
                height: 48px;
                float: left;
                border-radius: 6px;
            }
            .tweet-content {
                margin-left: 58px;
                .name {
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    &:hover {
                        color: $search-twitter-blue;
                    }
                }
                .screen-name,
                .created-at {
                    font-size: 13px;
                    color: #8899A6;
                }
                .tweet-content-text {
                    word-break: break-all;
                    color: #292f33;
                    font-size: 14px;
                    line-height: 18px;
                    .tweet-hashtag {
                        color: #55ACEE;
                    }
                    .tweet-hashtag-current {
                        font-weight: bold;
                    }
                }
                .images-wrapper {
                    margin-top: 8px;
                    max-height: 203px;
                    overflow: hidden;
                    border-radius: 8px;
                }
                .images-wrapper.showdetail {
                    overflow: visible;
                    max-height: initial;
                    img {
                        max-width: 470px;
                        height: auto;
                    }
                }
            }
            .detail-metadata {
                transition: all linear 0.1s;
                display: block;
                margin-top: 10px;
                span, a {
                    font-size: 13px;
                    line-height: 24px;
                    cursor: pointer;
                    color: #8899a6;
                }
                a.link-to-tweet {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .detail-metadata.ng-hide {
                opacity: 0;
            }
            .action-list {
            	.rt-count, .fav-count {
            		color: #8899A6;
            		font-size: 12px;
            		font-weight: bold;
            		display: inline-block;
            		height: 16px;
            		margin-left: 5px;
            		margin-top: 0;
            		vertical-align: middle
            	}
                margin-top: 10px;
                > div {
                    display: inline-block;
                    margin-right: 31px;
                }
                .action-reply {
                    button {
                        border: none;
                        width: 16px;
                        height: 16px;
                        background: url('../images/reply-sprite.png');
                    }
                    &:hover {
                        button {
                            background-position-x: 100%;
                        }
                    }
                }
                .action-favor {
                    button {
                        border: none;
                        width: 16px;
                        height: 16px;
                        background: url('../images/favorite-sprite.png');
                    }
                    &.already {
                        button {
                            background-position-x: 100%;
                        }
                    }
                    &:hover {
                        button {
                            background-position-x: 50%;
                        }
                    }
                }
                .action-retweet {
                    button {
                        border: none;
                        width: 19px;
                        height: 16px;
                        background: url('../images/retweet-sprite.png');
                    }
                    &.already {
                        button {
                            background-position-x: 100%;
                        }
                    }
                    &:hover {
                        button {
                            background-position-x: 50%;
                        }
                    }
                }
                .action-more {
                    font-size: 6px;
                    color: #ADAFB0;
                    vertical-align: middle;
                }
            }
            .tweet-images-container {
                max-height: 253px;
                max-width: 100%;
            }
            .tweet-single-image {
                max-height: 253px;
                max-width: 100%;
                border-radius: 6px;
                display: inline-block;
            }
        }
    }
}
.wall-creation-form {
	max-width: 75%;
	line-height:200%;
	font-size: 16px;
}
.wall-creation-form > * input[type="text"] {
	width: 50%;
}
.tabs-left > li {
	padding: 0;
}
.tabs-left > li > a {
	height: 150px;
	text-align: center;
	padding: 20% 0;
}
.wall-modal-dialog {
  width: 100%;
  height: 95%;
  margin-top: 10px;
  padding: 0px 10px 0 10px;

}

.wall-modal-content {
  min-height: 100%;
  border-radius: 25;
  width: 100%;
}

.redirect-page {background:#F5F8FA;height:100%;text-align:center;display:-webkit-flex;display:flex;height:100%;-webkit-flex-flow:column wrap;flex-flow:column wrap;-webkit-justify-content:center;justify-content:center;margin:0;padding:10px}
.loading-redirect{font-size:50px;height:1em;-webkit-animation:fadeout .5s 5s;animation:fadeout .5s 5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.loading-redirect span{-webkit-animation:fadein .5s .5s alternate infinite;animation:fadein .5s .5s alternate infinite}.loading-redirect span:nth-child(2){-webkit-animation-delay:.75s;animation-delay:.75s}.loading-redirect span:nth-child(3){-webkit-animation-delay:1s;animation-delay:1s}#redirect-text{text-align:center;font-family:helvetica;opacity:0;-webkit-animation:fadein .5s 3s;animation:fadein .5s 3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.overflow{background:#000;color:#fff;max-width:100%;text-align:left}@-webkit-keyframes fadein{from{opacity:0;-webkit-transform:scale(.2)}to{opacity:1;-webkit-transform:scale(1)}}@-webkit-keyframes fadeout{to{opacity:0;height:0}}@keyframes fadein{from{opacity:0;transform:scale(.2)}to{opacity:1;transform:scale(1)}}@keyframes fadeout{to{opacity:0;height:0}}
.loading-redirect-img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.coa {
    display: block;
    min-height: 164px;
    background: white;
    padding: 30px 22px;
    margin-bottom: 25px;
    border-bottom: 1px solid $search-grey-border;
    &:first-child {
        border-top-left-radius: 6px;
        border-right-left-radius: 6px;
    }
    .avatar {
        height: 180px;
        max-width: 180px;
        float: left;
        border-radius: 6px;
    }
    .coa-content {
    	padding-left: 20px;
        position: relative;
        margin-left: 200px;
        min-height: 180px;
        .name {
            &:hover {
                color: $search-twitter-blue;
            }
        }
        .coa-content-text {
            word-break: break-all;
            color: #292f33;
            font-size: 36px;
            line-height: 140%;
            .coa-hashtag {
                color: #55ACEE;
            }
            .coa-hashtag-current {
                font-weight: bold;
            }
        }
        .metadata {
            font-size: 18px;
            color: #8899A6;
            font-weight: normal;
            padding-top: 20px;
            font-style: italic;
        }
    }
}


.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    display: table;
}

.deckgrid .column-1-3 {
    width: 33.3%;
}

.card {
	min-height: 200px;
	margin: 20px;
	background: white;
	overflow: hidden;
	padding: 12px;
    border: 1px solid $search-grey-border;
    &:first-child {
        border-top-left-radius: 6px;
        border-right-left-radius: 6px;
    }
    .avatar {
        height: 60px;
        max-width: 60px;
        float: left;
        border-radius: 6px;
    }
    .card-content {
    	padding-left: 2px;
        position: relative;
        margin-left: 70px;
        min-height: 180px;
        .name {
            &:hover {
                color: $search-twitter-blue;
            }
        }
        .card-content-text {
            word-break: break-all;
            color: #292f33;
            font-size: 18px;
            line-height: 120%;
            min-height: 140px;
            .card-hashtag {
                color: #55ACEE;
            }
            .card-hashtag-current {
                font-weight: bold;
            }
        }
        .metadata {
            font-size: 18px;
            color: #8899A6;
            font-weight: normal;
            padding-top: 20px;
            font-style: italic;
        }
    }
}
