<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        html, body, object, embed, iframe {
            margin:  0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: white;
            color: white;
        }
        body {
            position: relative;
            overflow: hidden;
        }
    </style>
<body>
    <div id='iframely-content'>
        <%- html %>
    <div>
    <script type="text/javascript" src="<%= CONFIG.baseStaticUrl %>/js/iframely-utils.js"></script>
</body>
</html>