<div class="content-wrapper ng-scope">
	<div class="container content-container" id="add-connection-form">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>Add <code data-toggle="modal" data-target="#add-connect-setting-modal">{{dataFormatInfo.name}}</code> connection 
				<i class="fa fa-cog" title="Change data format" data-toggle="modal" data-target="#add-connect-setting-modal"></i></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p>This is the interface to add your <code>{{dataFormatInfo.name}}</code> data source. Once the data source is added, you can review & configure it in <a ng-href="/dataConnect" target="_blank">Data Connect</a> page, button <b>My Connections</b>.</p>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" id="add-datasource-form">
				<div ng-show="addForm.error" class="alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error : </span>{{addForm.error}}
				</div>
				<div ng-show="addForm.success" class="alert alert-success">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					  <span class="sr-only">Success : </span>{{addForm.success}}
				</div>
				<form name="add-datasource-form" ng-submit="confirmAddDataSource()">
					<div class="form-group">
						<label for="source-url">Source url*</label>
						<input name="source-url" required type="text" class="form-control" ng-model="addForm.inputs.url"/>
					</div>
					<div ng-show="{{isGeoJson}}">
						<div class="form-group">
							<label for="source-type">Source type*</label>
							<select name="source-type" type="text" 
									ng-options="type.name for type in sourceTypesList"class="form-control" ng-model="addForm.inputs.type">
								<option value="">Select source type</option>
							</select>
						</div>
						<label for="map-rule">Mapping rules</label>
						<div class="map-rule" ng-show="mapRulesNum >= 1">
							<label>Custom field</label>
							<label>Tweet field</label>
						</div>
						<div class="map-rule form-group" ng-class="$last ? 'last' : ''" ng-repeat="i in getMapRulesNum() track by $index">
							<input type="text" class="form-control input-sm custom-field"  ng-model="addForm.inputs.mapRules[$index][0]"/>
							<input type="text" class="form-control input-sm tweet-field" ng-model="addForm.inputs.mapRules[$index][1]"/>
						</div>
						<i id="remove-map-rule" class="fa fa-minus-square-o fa-lg" ng-show="mapRulesNum >= 1" ng-click="removeMapRule()"></i>
						<div class="add-map-rule" ng-click="addMapRule()">
							<i class="fa fa-plus"></i> Add rule
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Confirm</button>
					<a ng-href="/dataConnect" type="button" class="btn btn-default">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>

<div add-connection-setting-modal></div>