<div id="add-connect-setting-modal" class="modal" role="dialog">
	<div id="add-connect-setting-modal-dialog" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="text-center">Add connection Setting</h4>
			</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<form name="add-connect-setting-form">
						<div class="form-group">
							<label for="data-format">Data format</label>
							<select name="data-format" required type="text"
									ng-options="value.name for value in dataFormatList"class="form-control" ng-model="settingForm.format" ng-change="changeFormat()">
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>