<div id="data-connect-modal" class="modal" role="dialog">
	<div class="modal-dialog data-connect-modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-2 tabs-list">
						<ul class="nav nav-tabs tabs-left">
							<li ng-repeat="navItem in navItems" 
								ng-class="$first ? 'active' : ''">
								<a href="#{{navItem.target}}" data-toggle="tab">
									<i class="{{navItem.icon}} fa-2x"></i><br>
									<h4>{{navItem.title}}</h4>
								</a>
							</li>
						</ul>
					</div>

					<div class="col-xs-10 tab-content">
						<div class="tab-pane active" id="data-source-tab">
							<button class="pull-right btn btn-default">
								Add New Source <i class="fa fa-plus"></i>
							</button>
							<h2>Active Data Sources</h2>
							<hr/>
							<ul>
							<li ng-repeat="item in dataSourceItems">
								<div class="row">
									<div class="col-md-4">{{item.user.name}}</div>
									<div class="col-md-5">{{item.link}}</div>
									<div class="col-md-2">{{item.provider_type}}</div>
								</div>
							</li>
							</ul>
						</div>
						<div class="tab-pane" id="contact-tab">
							Coming soon.
						</div>
						<div class="tab-pane" id="iot-tab">
							Coming soon.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
