<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.min.css">
<div class="content-wrapper">

	<div class="container-fluid content-container">
		<div id="data-connect-panel">
			<button type="button" class="btn btn-loklak-blue btn-lg" data-toggle="modal" data-target="#data-connect-modal">My Connections</button>
		</div>
	</div>
</div>

<div ng-include="'data-connect/data-connect-modal.html'"></div>
