<div id="map-view-modal" class="modal fade" role="dialog">
	<div id="map-view-modal-dialog" class="modal-dialog">
		<div class="modal-content" id="map-view-modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Map View</h2>
			</div>
			<div class="modal-body">
				<div id="single-data-map"></div>
			</div>
			<div class="modal-footer">
			<div style="float:left;" class="col-xs-offset-2">
				<a id="close-map-view-button" data-dismiss="modal" type="button" class="btn btn-loklak-blue">Close</a>
			</div>
			</div>
		</div>
	</div>
</div>
