<div ng-attr-id="{{data.id_str}}" class="single-imported-status">
	<div class="body">
		<div class="right-logo">
			<img src="{{sourceType.logo}}"/>
		</div>
		<h3>{{richData[sourceType.template.header]}}</h3>
		{{richData[sourceType.template.subHeader]}}
	</div>
	<div class="footer">
		<p>Shared by {{profile.sharers | arraySize}} users</p>
		<span class="importer">Importer: <img src="{{importer.user.profile_image_url_https}}"/></span>
		<hr/>
		<div class="action-list">
			<i class="fa fa-share" ng-click="share()" tile="Share this"></i>
		</div>
	</div>
</div>