<!doctype html>
<html class="no-js">

<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title ng-bind="root.pageTitle"></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/datetimepicker.css">
	<link rel="stylesheet" href="css/photoswipe.css">
	<link rel="stylesheet" href="css/admin.css">
	<link rel="stylesheet" href="css/skins/skin-blue.css">
	<link rel="stylesheet" href="css/default-skin/default-skin.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/colorpicker.min.css">
	<link rel="icon" href="../images/loklak_icon_yellow_64x64.gif" type="image/gif" sizes="16x16">
	<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body class="skin-blue layout-top-nav">
	<div ng-include="" ng-if="root.fullscreenDisabled" src="'topnav.html'" class="ng-scope"><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" class="ng-scope">
<!-- ngIf: root.sidebarEnabled -->

<!-- ngIf: !root.sidebarEnabled --><header ng-if="!root.sidebarEnabled" class="main-header ng-scope">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><code>Loklak</code></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- ngRepeat: navItem in root.topNavItems --><li ng-repeat="navItem in root.topNavItems" class="ng-scope">
                        <a ng-href="/" class="ng-binding" href="/"><span class="fa fa-home"></span> Home</a>
                    </li><!-- end ngRepeat: navItem in root.topNavItems --><li ng-repeat="navItem in root.topNavItems" class="ng-scope">
                        <a ng-href="/wall/create" class="ng-binding" href="/wall/create"><span class="fa fa-list"></span> Wall</a>
                    </li><!-- end ngRepeat: navItem in root.topNavItems --><li ng-repeat="navItem in root.topNavItems" class="ng-scope">
                        <a ng-href="/map" class="ng-binding" href="/map"><span class="fa fa-map-marker"></span> Maps</a>
                    </li><!-- end ngRepeat: navItem in root.topNavItems -->
                </ul>
            </div>
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse" style="margin-left: 15%;">
                <img src="../images/loklak_icon_yellow_45x45_transparent.png" alt="">
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <form class="navbar-form navbar-left ng-pristine ng-valid" role="search" action="/search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" name="q" placeholder="Search" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }">
                        </div>
                    </form>
                </ul>
                <ul class="nav navbar-nav">
                <li>
                    <a ng-href="#" target="_self" href="#" style="padding-bottom:0px;margin-top:-6px;">
                        <span><img src="<%= profileimage %>" height="30px" width="30px"><%= username %></span>
                    </a>
                </li>
                </ul>
                <!-- <ul class="dropdown-menu">
                  User image 
                  <li class="user-header">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      Alexander Pierce - Web Developer
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>
                  Menu Footer
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
                </ul> -->
            </div>
        </div>
    </nav>
</header><!-- end ngIf: !root.sidebarEnabled --></div>
	<div class="content-wrapper">
		<div class="row cms-view">
			<div class="col-md-12">
				<h1 class="page-header"><strong>Hey <%= name %></strong>, Welcome to <code>loklak</code></h1>
				<h2>Feel like telling the world about something ? Why not start here ?</h2>
				<h3>Share your tweet !! </h3>
				<h3>We are planning to support you to post as many words as you want to twitter ! Support us on <a href="https://github.com/loklak">Github</a></h3>
				<form action="/newTweet" method="POST">
					<div class="form-group">
						<div class="row">
							<div class="col-lg-10">
								<input type="text" name="tweetbody" class="form-control" style="margin-right:2px;" maxlength="140">
							</div>
							<div class="col-lg-2" class="pull-left">
								<input class="btn btn-info btn-flat" type="submit" value="Tweet !"></input>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>