<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Loklak Twitter</title>
</head>
<body>
	<form action="/newTweet" method="POST">Enter tweet <input type="text" name="tweetbody"><input type="submit" value="submit"></form>
</body>
</html>