<link rel="stylesheet" type="text/css" href="css/angular-toggle-switch.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.min.css">
<link rel="stylesheet" type="text/css" href="css/angular-chart.css">

 <style type="text/css">
.background{
    width : 100%;
    height: 100vh;
    background-image: url('../images/bg.png'); 
    text-align: center;
    padding-top: 15%
}
.heading
{
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    margin-bottom: 25px;
}
.inputname
{
    width : 50%;
    height : 40px;
    color:  gray; 
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 4px;
    font-size: 25px;
}
.big {
    margin-top: 15px;
    height : 50px;
    size : 10%;
    font-size: 20px;
    background: #55ACEE;
    border-color: #55ACEE;
    color : #fff;
    font-family: "Lucida Console", Monaco, monospace;
}

</style>
<script type="text/javascript">
    $(window).load(function(){
        $('#analyze-modal').modal('show');
    });
</script>
<div class="modal fade" id="analyze-modal">

<div class="background">
<div class="title">
    <h3 class="heading">Loklak allows you to analyse your Twitter data geographically and across different parameters</h3>
    <input type="text" class="inputname" placeholder="@screenname" required></input> 
    <br>
    <button type="button" class="btn btn-default big" aria-label="Left Align" data-toggle="modal" data-target="#analyze-modal">
    <span class="fa fa-bar-chart" aria-hidden="true">Analyze!</span>
    </button>
</div>
</div>
</div>

    
    <div class="modal-dialog modal-lg wall-modal-dialog">
        <div class="modal-content wall-modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><span class="fa fa-bar-chart" aria-hidden="true">Statistics</span></h2>
                
            </div>
            <div class="modal-body">
      
                <div class="row">
                    <div>
                        <div class="col-xs-2 tabs-list">
                            <ul class="nav nav-tabs tabs-left">
                                <li class="active"><a href="#info" data-toggle="tab"><i class="fa fa-users fa-2x"></i><br><h4>Followers</h4></a></li>
                                <li><a href="#content" data-toggle="tab"><i class="fa fa-user-plus fa-2x"></i><br><h4>Following</h4></a></li>
                                <li><a href="#design" data-toggle="tab"><i class="fa fa-cloud fa-2x"></i><br><h4>IoT</h4></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="info">
                                    <div class="col-xs-4">
                                        <div class="row">
                                          <center><h3>Country wise Followers</h3></center>
                                            <canvas id="doughnut" class="chart chart-doughnut"data="countryvalues" colour="{#F7464A,#46BFBD,#FDB45C,#878BB6}" labels="countrylabels"></canvas>
                                        </div>
                                        <div class="row">
                                          <center><h3>City wise Followers</h3></center>
                                            <canvas id="pie" class="chart chart-pie"data="cityvalues" colour="{#F7464A,#46BFBD,#FDB45C,#878BB6}" labels="citylabels"></canvas>
                                        </div>

                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <center><h3>Follwer's distribution</h3></center>
                                            <canvas id="doughnut" class="chart chart-doughnut" legend="true" data="categoryvalues"labels="categorylabels"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <center><h3>Most Influential Followers</h3></center><hr>
                                        <div ng-repeat="follower in followers_follower | limitTo : 5">
                                        <div class="home-user-info" style="width:100%;margin-top:0px; margin-bottom:5px;">
                                        <div class="home-user-info-content">
                                            <div class="top-content">
                                                <img src="{{follower.profileimg}}">
                                            <div class="name-and-screen-name">
                                                <span class="home-user-name">{{follower.name}}</span><br>
                                                <span class="home-user-screen-name">@{{follower.screenname}}</span>
                                            </div>
                                      </div>
                                      <div class="bottom-content">
                                        <div class="user-no-tweets">
                                            <a href="">Tweets<br><span>{{follower.statuses_count}}</span></a>
                                        </div>
                                        <div class="user-no-followings">
                                            <a href="">Followings<br><span>{{follower.following}}</span></a>
                                        </div>
                                        <div class="user-no-followers">
                                            <a href="">Followers<br><span>{{follower.followers}}</span></a>
                                        </div>
                                      </div>
                        
                                        </div>
                                        </div>
                                        </div>
                                    </div> <!--end-->
                                </div>
                                <div class="tab-pane" id="content">
                                    
                                </div>
                                <div class="tab-pane" id="design">
                                    
                                        <!-- /.box-body -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

