<link rel="stylesheet" type="text/css" href="css/angular-toggle-switch.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
<script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.min.css">
<link rel="stylesheet" type="text/css" href="css/angular-chart.css">

 <style type="text/css">
.background{
    width : 100%;
    height: 100vh;
    background-image: url('../images/bg.png'); 
    text-align: center;
    padding-top: 15%
}
.heading
{
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    margin-bottom: 25px;
}
.inputname
{
    width : 50%;
    height : 40px;
    color:  gray; 
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 4px;
    font-size: 25px;
}
.big {
    margin-top: 15px;
    height : 50px;
    size : 10%;
    font-size: 20px;
    background: #55ACEE;
    border-color: #55ACEE;
    color : #fff;
    font-family: "Lucida Console", Monaco, monospace;
}
.tableheading
{
    background-color: #2C3D50;
    border-bottom: 2px solid #ECECEC;
    color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
   
    font-size: 18px;
    font-weight: 600;

}
#message
{
    margin-top:20%;
    font-family: "Lucida Console", Monaco, monospace; 
    font-size: 24px ;
    color: #555555;
    text-align: center;
}
#notfoundmessage
{
    color: red;
    font-size : 15px;
    font-family: "Lucida Console", Monaco, monospace; 
}
.fillit
{
    width: 70%;
    height:100%;
    margin : 0 auto;

}
#percentage-modal .modal-dialog
{
    padding: 10px;
    min-width: 1080px;
    margin: 0 auto;
}

</style>
<div class="content-wrapper">
    <div class="search-container container-fluid">

        <div ng-show="!search.showMap" class="title-as-current-search-term">
            <span>@{{username}}</span>
        </div>
        <!-- <div ng-if="!search.statuses" class="input-container container">
            <form ng-submit="search.update(term)" class="navbar-form navbar-left" role="search">
           <div class="form-group">
             <input ng-model="term" type="text" class="form-control" id="navbar-search-input" placeholder="Search">
           </div>
         </form>
            <div class="clearfix"></div>
         </div> -->

        
        <!-- Main content -->
        <div class="container content-container">
            <!-- Left content: Who to follow, trends -->
            <div class="col-md-3">
                <div class="home-user-info">
                <div class="blue-background-placeholder">
                    <img ng-src="{{profilebanner}}" alt="user-banner-photo">    
                </div>
                <div class="home-user-info-content">
                    <div class="top-content">
                        <img ng-src="{{profilepicurl | homePageImage }}">
                        <div class="name-and-screen-name">
                            <span class="home-user-name">{{name}}</span><br>
                            <span class="home-user-screen-name">@{{username}}</span>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <div class="user-no-tweets">
                            <a href="">Tweets<br><span>{{tweetcount}}</span></a>
                        </div>
                        <div class="user-no-followings">
                            <a href="">Followings<br><span>{{followingstotal}}</span></a>
                        </div>
                        <div class="user-no-followers">
                            <a href="">Followers<br><span>{{followerstotal}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>   

            <!-- Center result + option filters -->
            <div  class="result-container col-md-6">
                <!-- Filters -->
                <div class="filters-container">
                    <ul class="search-modes">
                        <!-- General filters -->
                        <li  ng-class="(root.globalFilter === 'followers') ? 'active' : ''" ng-click="getstatfollower()">
                            <a href="#">Followers</a>
                        </li>
                        <li  ng-class="(root.globalFilter === 'following') ? 'active' : ''" ng-click="getstatfollowing()">
                            <a href="#">Following</a>
                        </li>
                        <li  ng-class="(root.globalFilter === 'iot') ? 'active' : ''" ng-click="getstatiot()">
                            <a href="#">IoT</a>
                        </li>
                    </ul>
                </div>

                <!-- New status from background updating process -->
               

                <!-- Main results -->
                <div  class="main-result-container" infinite-scroll="loadMore(15)" infinite-scroll-distance="1">
                    <div class="row">
                        <div class="col-md-4">
                            <center><h3>Country wise Followers</h3></center>
                            <canvas id="doughnut" class="chart chart-doughnut"data="countryvalues" colour="{#F7464A,#46BFBD,#FDB45C,#878BB6}" labels="countrylabels">
                            </canvas>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-striped">
                                <th class="tableheading">Analysis</th><th class="tableheading"></th>
                                    <tr><td><b>Country</td><td>Followers</b></td>
                                    <tr ng-repeat="country in countrydata | limitTo:5">
                                        <td><b>{{country.country}}</td><td><i>{{country.followers}}%</i></b></td>
                            </table> 
                        </div><!--end span8-->
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <center><h3>City wise Followers</h3></center>
                            <canvas id="doughnut" class="chart chart-doughnut"data="cityvalues" colour="{#F7464A,#46BFBD,#FDB45C,#878BB6}" labels="citylabels">
                            </canvas>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-striped">
                                <th class="tableheading">Analysis</th><th class="tableheading"></th>
                                    <tr><td><b>City</td><td>Followers</b></td>
                                    <tr ng-repeat="city in citydata | limitTo:5">
                                        <td><b>{{city.city}}</td><td><i>{{city.followers}}%</i></b></td>
                            </table> 
                        </div><!--end span8-->
                    </div>

                </div>                   

                <!-- People results -->
                <div ng-if="search.peopleSearch" class="main-result-container">
                    <div ng-repeat="account in search.accounts" account data="account"></div>
                </div>

               
            </div>
             <!-- Map result -->
            <div ng-show="search.showMap" class="search-map-wrapper map-container-parent">
                <div id="search-map"></div>
            </div>

            <!-- Right content: Other statistics -->
            <div class="dashboard dashboard-right col-md-3">
                <div class="row">
                    <center><h3>Follwer's distribution</h3></center>
                    <canvas id="doughnut" class="chart chart-doughnut" legend="true" data="categoryvalues"labels="categorylabels">
                    </canvas>
                </div>
                <div class="row">
                    <center><h3>Most Influential Followers</h3></center><hr>
                                        <div scrolltoadd="increaseLimit();" ng-init="limit=5;">
                                        <div ng-repeat="follower in followers_follower | limitTo : limit">
                                        <div class="home-user-info" style="width:100%;margin-top:0px; margin-bottom:5px;">
                                        <div class="home-user-info-content">
                                            <div class="top-content">
                                                <img src="{{follower.profileimg}}">
                                            <div class="name-and-screen-name">
                                                <span class="home-user-name">{{follower.name}}</span><br>
                                                <span class="home-user-screen-name">@{{follower.screenname}}</span>
                                            </div>
                                      </div>
                                      <div class="bottom-content">
                                        <div class="user-no-tweets">
                                            <a href="">Tweets<br><span>{{follower.statuses_count}}</span></a>
                                        </div>
                                        <div class="user-no-followings">
                                            <a href="">Followings<br><span>{{follower.following}}</span></a>
                                        </div>
                                        <div class="user-no-followers">
                                            <a href="">Followers<br><span>{{follower.followers}}</span></a>
                                        </div>
                                      </div>
                        
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
