<!doctype html>
<html class="no-js">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="root.pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="../images/loklak_icon_yellow_64x64.gif" type="image/gif" sizes="16x16">
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-drawer.css">
</head>

<body class="skin-blue layout-top-nav has-drawer" ng-style="{'overflow-y': root.fullscreenDisabled ? 'auto' : 'hidden'}">
    <div class="wrapper">
        <div ng-include ng-if="root.fullscreenDisabled" src="'topnav.html'"></div>
        <div ng-include ng-if="root.fullscreenDisabled && root.sidebarEnabled" src="'sidebar.html'"></div>
        <div class="view-container" ui-view></div>
        <div ng-include src="'pswp.html'"></div>
        <div ng-include ng-if="root.fullscreenDisabled" src="'controlsidebar.html'"></div>
    </div>
    <div class="retweet-modal hide" retweet-modal></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.min.js"></script>
</body>

</html>
