<div ng-attr-id="{{card.id_str}}" class="card card-simple">
    <img class="avatar spinner" onError="this.onerror=null;this.src='/images/anon_200x200.png';" ng-src="{{card.user.profile_image_url_https | biggerProfileImage}}" alt="user-images">
    <div class="card-content">
        <!-- Main content -->
        <p class="card-content-text" ng-bind-html="card.text | tweetTextLink | tweetMention | tweetHashtag | toTrusted"></p>
        <!-- Images -->
        <!--         <div card-ng-click="open(card.id_str);" ng-class="{'images-wrapper': true, 'showdetail': showdetail}" ng-if="card.images_count"> -->
        
        <!-- Metacard -->
        <div class="metacard">
            <a class="name" ng-href="{{'https://twitter.com/' + card.user.screen_name}}">{{card.user.name}}</a>
            <span class="screen-name">{{ "@hbhb" + card.user.screen_name}}</span>
            <span><i class="fa fa-twitter"></i></span>
            <span class="created-at"> • {{card.created_at | tweetFromNow }}</span>
        </div>
    </div>
</div>
