<div class="card-container" ng-class="getClass()">
    <div ng-attr-id="{{data.id_str}}" class="card card-simple">
        <div class="card-content row">
            <!-- Main content -->
            <div ng-if="data.images.length>0" class="col-xs-4" style="padding:0px;">
                <img class="tweet-image" alt="" ng-if="data.images.length>0" ng-src="{{data.images[0] | instaFilter}}">
            </div>
            <div ng-class="data.images.length>0?'col-xs-8':'col-xs-12'" style="padding:0px;height:100%;">
                <div class="card-content-text"  ng-bind-html="data.text | tweetTextLink | tweetMention | tweetHashtag |  toTrusted"></div>
                <div class="metadata">
                    <img class="avatar spinner" onError="this.onerror=null;this.src='/images/anon_200x200.png';" ng-src="{{data.user.profile_image_url_https | biggerProfileImage}}" alt="user-images">
                    <div class="user-data">
                        <a class="name" ng-href="{{'./search?q=from:' + data.user.screen_name}}">{{data.user.name}}</a> <span><i class="fa fa-twitter"></i></span> • 
                        <span am-time-ago="data.created_at"></span>
                        <br><span class="screen-name">{{ "@" + data.user.screen_name}}</span>
                        
                    </div>
                </div>
            </div>
            
            <!-- Images -->
            <!--         <div data-ng-click="open(data.id_str);" ng-class="{'images-wrapper': true, 'showdetail': showdetail}" ng-if="data.images_count"> -->
            <!-- Metadata <--></-->
            <!-- </div>
        <div class="row"> -->
            
        </div>
    </div>
</div>
