<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.min.css">
<!-- <link rel="stylesheet" type="text/css" href="css/angular-toggle-switch.css"> -->
<div class="content-wrapper">
    <section class="content-header">

    </section>
    <section class="content">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#wall-modal">Create a new wall</button>
        <div ng-include="'wall/wallCreationModal.html'"></div>
</div>
</section>
</div>
