<link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css">
<link rel="stylesheet" type="text/css" href="css/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" type="text/css" href="css/angular-chart.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<style>
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #3c8dbc;
    color: #ffffff;
    z-index: 99999;
    position: relative;
    right: 100px;
}
</style>
<div>
    <div ng-style="{'background-color': wall.wallOptions.headerColour}" ng-class="getHeaderClass()">
        <div ng-style="{'color': wall.wallOptions.headerForeColour} " class="hashtag col-md-4">{{wall.wallOptions.mainHashtag}}</div>
        <div ng-style="{'color': wall.wallOptions.headerForeColour} " class="event-name col-md-4">{{wall.wallOptions.eventName}}</div>
        <div class="banner col-md-3"><a ng-style="{'color': wall.wallOptions.headerForeColour} " href="/">Powered by Loklak</a></div>
        <div class="banner col-md-1">
            <!-- <i ng-style="{'color': wall.wallOptions.headerForeColour} " data-toggle="modal" data-target="#wall-modal" class="fa fa-fw fa-gear"></i> -->
            <i ng-style="{'color': wall.wallOptions.headerForeColour} " ng-hide="wall.fullscreenEnabled" ng-click="fullscreen()" class="fa fa-fw fa-arrows-alt"></i>
        </div>
    </div>
    <div class="wall-container container-fluid">
        <div class="container content-container wall-body">
            <div ng-switch on="wall.wallOptions.layoutStyle" ng-show="wall.statuses.length>0" ng-class="wall.wallOptions.showStatistics?'col-md-8':'col-md-12'">
                <div ng-switch-when="1" class="animate-repeat" ng-repeat="status in wall.statuses" linear open="wall.open" data="status"></div>
                <div ng-switch-when="2">
                    <div deckgrid class="deckgrid" source="wall.statuses" cardTemplate="wall/templates/card.html"></div>
                </div>
                <div ng-switch-when="3" class="animate-repeat" ng-repeat="status in wall.statuses" coa open="wall.open" data="status"></div>
                <div ng-switch-when="4">
                    <div data="wall.statuses" id="map" maplayout style="height:800px"></div>
                </div>
            </div>
            <div ng-show="wall.statuses.length>0" ng-if="wall.wallOptions.showStatistics" class="col-md-4">
                <h4>LEADERBOARD</h4>
                <div class="row">
                    <img class="histogram-loader" ng-hide="wall.topTwitterersData" src="images/loading.gif">
                    <div class="col-xs-7">
                        <!-- <canvas class="chart chart-pie" options="wall.topTwitterersOptions" labels="wall.topTwitterersLabels" data="wall.topTwitterersData"></canvas> -->
                        <h4 ng-show="wall.topTwitterersData">Top Twitterers</h4>
                        <table class="table leaderboard">
                            <tbody>
                                <tr class="leaderboard-item" ng-repeat="obj in wall.topTwitterersData">
                                    <td>
                                        <img ng-src="http://avatars.io/twitter/{{obj[0]}}" alt="">
                                        <span ng-style="{'background-color': wall.wallOptions.headerColour, 'color': wall.wallOptions.headerForeColour}" class="label leaderboard-label">{{obj[1]}}</span>
                                    </td>
                                    <td>
                                        <a ng-href="{{'./search?q=from:' +  obj[0]}}" target="_blank"><h4>@{{obj[0]}}</h4></a>
                                    </td>
                                    <!-- <td>
                                                <div class="leaderboard-item">{{obj[1]}}</div>
                                            </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-4">
                        <!-- <canvas class="chart chart-pie" options="wall.topHashtagsOptions" labels="wall.topHashtagsLabels" data="wall.topHashtagsData"></canvas> -->
                        <h4 ng-show="wall.topTwitterersData">Top Hashtags</h4>
                        <!-- table.table>tbody>(tr>((td>div.leaderboard-item{{{wall.topHashtagsData[$@0][0]}}})+(td>div.leaderboard-item{{{wall.topHashtagsData[$@0][1]}}})))*3 -->
                        <table class="table">
                            <tbody>
                                <tr class="leaderboard-item" ng-repeat="obj in wall.topHashtagsData">
                                    <td>
                                        <div ng-style="{'background-color': wall.wallOptions.headerColour, 'color': wall.wallOptions.headerForeColour}" class="leaderboard-count">{{obj[1]}}</div>
                                    </td>
                                    <td>
                                        <h4>#{{obj[0]}}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">TWEETS FREQUENCY</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <img class="histogram-loader" ng-hide="wall.histogram2" src="images/loading.gif">
                            <canvas class="chart chart-bar" options="wall.histogramOptions" labels="wall.labels" data="wall.histogram2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="wall.statuses.length<=0 && !wall.showEmpty && !wall.invalidId" class="col-md-12">
                <div class="loading-redirect" style="text-align: center;"><span id="bull1">&bull;</span><span id="bull2">&bull;</span><span id="bull3">&bull;</span></div>
                <h2 id="redirect-text">Loading your tweet wall...</h2>
            </div>
            <div ng-hide="!wall.showEmpty" class="col-md-12" style="text-align: center;">
                <h3>No tweets to show yet. Try changing the search parameters or come back here after some time!</h3>
            </div>
            <div ng-hide="!wall.invalidId" class="col-md-12" style="text-align: center;">
                <img src="images/loklak_icon_yellow_45x45_transparent.png">
                <h3>This wall does not exist. Please check the URL.</h3>
            </div>
        </div>
    </div>
</div>
<div ng-include="'wall/wallCreationModal.html'"></div>
