<div class="content-wrapper">
    <div class="container">
        <section class="content-header">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placehold.it/1100x400/39CCCC/ffffff&amp;text=Loklak+is+awesome" alt="First slide">
                        <div class="carousel-caption">
                            First Slide
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/1100x400/3c8dbc/ffffff&amp;text=Loklak+is+awesome" alt="Second slide">
                        <div class="carousel-caption">
                            Second Slide
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/1100x400/f39c12/ffffff&amp;text=Loklak+is+awesome" alt="Third slide">
                        <div class="carousel-caption">
                            Third Slide
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
            <h1>
        </section>
        <section class="content">
            <div class="box box-default">
                <div class="box-body text-center">
                    <a href="wall/create" class="btn text-center btn-primary btn-lg">Start your tweet wall now</a>
                </div>
            </div>
        </section>
    </div>
</div>
