
<div ng-attr-id="{{data.id_str}}" class="home-user-info">
    <div class="blue-background-placeholder">
        <img ng-src="{{data.profile_banner_url }}" alt="user-banner-photo" ng-show="data.profile_banner_url">    
    </div>
    <div class="home-user-info-content">
        <div class="top-content">
            <img ng-src="{{data.profile_image_url_https}}">
            <div class="name-and-screen-name">
                <span class="home-user-name">{{data.name | shortenTo:19  }}</span><br>
                <span class="home-user-screen-name">@{{data.screen_name}}</span>
            </div>
        </div>
        <div class="bottom-content">
            <p>{{data.description | shortenTo:91 }}</p>
            <!-- <div class="user-no-tweets">
                <a href="">Tweets<br><span>{{data.statuses_count}}</span></a>
            </div>
            <div class="user-no-followings">
                <a href="">Followings<br><span>{{data.friends_count}}</span></a>
            </div>
            <div class="user-no-followers">
                <a href="">Followers<br><span>{{data.followers_count}}</span></a>
            </div> -->
        </div>
    </div>
</div>