<div ng-class="{'content-wrapper': true, 'home-view-wrapper': true, 'not-logged-in': !root.twitterSession, 'hide': true}">
    <!-- Main content -->
    <div class="container content-container">
      

        <div class="not-logged-in-message" ng-show="!root.twitterSession">
            <p>
                Loklak tweets by humans and the Internet of Things visualized on maps. Boldly discover what no human has seen before.
            </p>
            <a href="">
                <span class="link" ng-href="#signupModal" data-target="#signupModal">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signupModal"><i class="fa fa-twitter"></i>Sign up with Twitter</button>
                </span>
            </a>
        </div>
        <!-- Left content: Who to follow, trends -->
        <div class="left-result-container col-md-4 col-lg-3" ng-show="root.twitterSession">
            <div class="home-user-info">
                <div class="blue-background-placeholder">
                    <img ng-src="{{root.twitterSession.profile_banner_url }}" alt="user-banner-photo" ng-show="root.twitterSession.profile_banner_url">    
                </div>
                <div class="home-user-info-content">
                    <div class="top-content">
                        <img ng-src="{{root.twitterSession.profile_image_url_https | homePageImage }}">
                        <div class="name-and-screen-name">
                            <span class="home-user-name">{{root.twitterSession.name}}</span><br>
                            <span class="home-user-screen-name">@{{root.twitterSession.screen_name}}</span>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <div class="user-no-tweets">
                            <a href="">Tweets<br><span>{{root.twitterSession.statuses_count}}</span></a>
                        </div>
                        <div class="user-no-followings">
                            <a href="">Followings<br><span>{{root.twitterSession.friends_count}}</span></a>
                        </div>
                        <div class="user-no-followers">
                            <a href="">Followers<br><span>{{root.twitterSession.followers_count}}</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-user-trends">
                <h3 class="trend-title">Trends</h3>
                <ul id="home-trend-list">
                    <li><a href="./search?q=%23loklak">#loklak</a></li>
                </ul>
            </div>
        </div>
        <!-- Center result + option filters -->
        <div class="center-result-container col-md-6" ng-show="root.twitterSession">
            <div class="row cms-view">
                <div class="main-result-container">
                    <div class="statuses-container box-body chat" id="chat-box" style="width: auto;">
                        <div ng-repeat="status in root.twitterFriends.data | limitTo: 100">
                            <div class="item" ng-click="toggleDetail($event)">
                                <img class="friend-profile-img" src="{{status.profile_image_url}}">
                                <p class="message home-tweet-text">
                                <span class="home-user-screen-name">@{{ status.screen_name }} - {{ status.status.created_at | tweetFromNow }}</span>
                                <br>
                                <span ng-bind-html="status.status.text | tweetTextLink | tweetMention | tweetHashtag | removeTwitterPicLink | toTrusted "></span>
                                </p>
                                <div ng-repeat="media in status.status.entities.media">
                                  <img src="{{media.media_url}}" alt="" width="100%"> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <!-- Right content: Other statistics -->
        <div class="right-result-container col-md-3 visible-lg" ng-show="root.twitterSession">
            <div class="home-user-trends">
                <h3 class="trend-title">Trends</h3>
                <ul id="home-trend-list">
                    <li><a href="./search?q=%23loklak">#loklak</a></li>
                </ul>
            </div>
        </div>


    </div>
</div>