<div class="page-outer">
<div id="page-container" class="AppContent  wrapper-search wrapper-home" style="padding-left: 0px;padding-right: 0px;padding-top: 45px;">
<div class="dashboard dashboard-left" style="margin-left:14px;">
    <!-- Main content -->
    <div class="DashboardProfileCard module">
      <!-- Center result + option filters -->
      <!-- Left content: Who to follow, trends -->
      <a href="#" class="DashboardProfileCard-bg u-bgUserColor u-block"  style="background-color:cornflowerblue;"></a>
      <div class="DashboardProfileCard-content">
          <a href="#" class="DashboardProfileCard-avatarLink u-inlineBlock" aria-hidden="true" tabindex="-1" title="{{root.twitterSession.first_name}}">
              <img src="{{root.twitterSession.profile_image_url }}" alt="" class="DashboardProfileCard-avatarImage js-action-profile-avatar">
          </a>
          <div class="DashboardProfileCard-userFields">
              <div class="DashboardProfileCard-name u-textTruncate">
                  <a href="#" class="u-textInheritColor">
                      {{root.twitterSession.first_name}}
                  </a>
              </div>
              <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
                  <a href="" class="DashboardProfileCard-screennameLink u-linkComplex u-linkClean">
                      {{root.twitterSession.screen_name}}
                  </a>
              </span>
          </div>
          <div class="DashboardProfileCard-stats">
              <ul class="DashboardProfileCard-statList Arrange Arrange--bottom Arrange--equal">
                  <li class="DashboardProfileCard-stat Arrange-sizeFit">
                      <a href="#" class="DashboardProfileCard-statLink u-textUserColor u-linkClean u-block" data-element-term="tweet_stats">
                          <span class="DashboardProfileCard-statLabel u-block">
                              Tweets
                          </span>
                          <span class="DashboardProfileCard-statValue" data-is-compact="false">
                              {{root.twitterSession.statuses_count}}
                          </span>
                      </a>
                  </li>
                  <li class="DashboardProfileCard-stat Arrange-sizeFit">
                      <a href="#" class="DashboardProfileCard-statLink u-textUserColor u-linkClean u-block" data-element-term="tweet_stats">
                          <span class="DashboardProfileCard-statLabel u-block">
                              Following
                          </span>
                          <span class="DashboardProfileCard-statValue" data-is-compact="false">
                              {{root.twitterSession.friends_count}}
                          </span>
                      </a>
                  </li>
                  <li class="DashboardProfileCard-stat Arrange-sizeFit">
                      <a href="#" class="DashboardProfileCard-statLink u-textUserColor u-linkClean u-block" data-element-term="tweet_stats">
                          <span class="DashboardProfileCard-statLabel u-block">
                              Followers
                          </span>
                          <span class="DashboardProfileCard-statValue" data-is-compact="false">
                              {{root.twitterSession.followers_count}}
                          </span>
                      </a>
                  </li>
              </ul>
          </div>
          <div id="dashboard-profile-prompt"></div>
      </div>

</div>
<div class="Trends module trends">
  <div class="trends-inner"><div class="flex-module trends-container ">
  <div class="flex-module-header">
    
    <h3><span class="trend-location js-trend-location">Trends</span></h3>
      <span class="middot">·</span> <a role="button" href="#" data-modal="change-trends" class="change-trends js-trend-toggle">Change</a>
  </div>
  <div class="flex-module-inner">
    <ul class="trend-items js-trends">
        <li class="trend-item js-trend-item  " data-trend-name="#LameSuperGroups">
            <a class="js-nav trend-name" dir="ltr" href="#" data-query-source="trend_click">#loklak</a>
        </li>
    </ul>
  </div>
</div></div>
</div>


</div>
<div role="main" aria-labelledby="content-main-heading" class="content-main top-timeline-tweetbox" id="timeline" style="float:left;margin-left: 5%;margin-right: 5%;">
    <div id="above-timeline-prompt"></div>
    <div class="timeline-tweet-box">
        <div ng-repeat="status in root.twitterFriends.data" status open-swipe="search.openSwipe" data="status"></div> 
  </div>
</div>
<div class="dashboard dashboard-right" style="margin-right:14px;margin-left:14px;">
    <!-- Main content -->
<div class="Trends module trends">
  <div class="trends-inner"><div class="flex-module trends-container ">
  <div class="flex-module-header">
    
    <h3><span class="trend-location js-trend-location">Trends</span></h3>
      <span class="middot">·</span> <a role="button" href="#" data-modal="change-trends" class="change-trends js-trend-toggle">Change</a>
  </div>
  <div class="flex-module-inner">
    <ul class="trend-items js-trends">
        <li class="trend-item js-trend-item  " data-trend-name="#LameSuperGroups">
            <a class="js-nav trend-name" dir="ltr" href="#" data-query-source="trend_click">#loklak</a>
        </li>
    </ul>
  </div>
</div></div>
</div>


</div>
</div>