<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="../images/loklak_icon_yellow_45x45.png" class="pull-left" alt="" width="30%" height="30%" style="margin-top:5px;">
            <a class="navbar-brand pull-right" href="/">
                <code>loklak</code>
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/statistics">Statistics</a>
                </li>
                <li>
                    <a href="/wall">Wall</a>
                </li>
                <li>
                    <a href="/search">Search</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>