<div class="retweet-box">
	<div class="retweet-title">
		<p>Retweet this to your followers?</p>
	</div>

	<div class="retweet-comment-container">
		<div class="retweet-comment">
			Add a comment...
		</div>
	</div>

	<div class="current-tweet">
		<div class="item">
		    <img class="friend-profile-img" ng-src="{{status.user.profile_image_url_https}}">
		    <p class="message home-tweet-text">
		    <span class="home-user-screen-name">@{{ status.screen_name }} - {{ status.created_at | tweetFromNow }}</span>
		    <br>
		    <span ng-bind-html="status.text | tweetTextLink | tweetMention | tweetHashtag | removeTwitterPicLink | toTrusted "></span>
		    </p>
		</div>
		<!-- <div class="item">
		    <img class="friend-profile-img" src="https://pbs.twimg.com/profile_images/527368661527322624/5jQCG8LQ_bigger.jpeg">
		    <p class="message home-tweet-text">
		    <span class="home-user-screen-name">@iltalehti_fi  8m</span>
		    <br>
		    Soini muistutti Ukrainan kriisin heikentäneen turvallisuutta: Ulkoministeri Timo Soini puhui hetki sitten Etyj... http://tinyurl.com/pkxqn3x
		    </p>
		</div> -->
	</div>

	<div class="retweet-button-container">
		<div class="retweet-button" ng-click="confirmRt();">
			<span class="retweet-icon"></span>
			<span class="retweet-text">Retweet</span>
		</div>
	</div>
</div>