<div class="search-container container-fluid">

    <!-- Header -->
    <div class="header-container">
        <div class="container">
            <img class="logo" src="images/loklak_icon_yellow_45x45.png"></img>
            <div class="toggle-login pull-right">
                <p class="abs-center-y">Have an account? Log in</p>
            </div>
             <form class="simple-search-form pull-right">
                <input class="simple-search" placeholder="#loklak">
            </form>
        </div>
    </div>


    <!-- Main content -->
    <div class="container content-container">
           
        <div class="dashboard dashboard-left col-md-3">
            <div class="login">
                <h2>New to Lollak?</h2>
                <p>Sign up now to get your own personalized timeline!
                </p>
                <button>Sign up</button>
            </div>

            <div class="filters">
                <ul class="search-modes">
                    <li><a class="active" href="#">Everything</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Advanced Search</a></li>
                </ul>

                <ul class="location-modes">
                    <li><a class="active" href="#">Everywhere</a></li>
                    <li><a href="#">Everywhere</a></li>
                </ul>
            </div>

            <div class="statistics">
                <!-- Trending hashtags, mentions, users -->
            </div>

        </div>

        <div class="main col-md-6">
            

        </div>

        <div class="dashboard dashboard-right">
            

        </div>

    </div>

</div>

