<ul class="nav right-actions" ng-if="root.twitterSession">
	<li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">
		<a href="/settings/account" class="btn js-tooltip settings dropdown-toggle js-dropdown-toggle" id="user-dropdown-toggle" data-placement="bottom" role="button" aria-haspopup="true" data-original-title="Profile and settings"><img class="avatar size32" src="{{root.twitterSession.profile_image_url }}" alt="Profile and settings" data-user-id=""></a>
		<div class="dropdown-menu">
			<div class="dropdown-caret">
				<span class="caret-outer"></span>
				<span class="caret-inner"></span>
			</div>
			<ul>

				<li class="current-user" data-name="profile">


					<a href="#" class="account-summary account-summary-small js-nav" data-nav="view_profile">
						<div class="content">
							<div class="account-group js-mini-current-user" data-user-id="" data-screen-name="{{root.twitterSession.screen_name}}"><b class="fullname">{{root.twitterSession.first_name}}</b><span class="screen-name hidden" dir="ltr">@{{root.twitterSession.screen_name}}</span><small class="metadata">View profile</small></div>
						</div>
					</a>

				</li>

				<li class="dropdown-divider"></li>

				<li data-name="lists"><a href="/sudheesh001/lists" data-nav="all_lists">Lists</a></li>
				<li class="dropdown-divider"></li>




				<li><a href="//support.twitter.com" data-nav="help_center">Help</a></li>


				<li class="js-keyboard-shortcut-trigger" data-nav="shortcuts">
					<button type="button" class="dropdown-link">Keyboard shortcuts</button>
				</li>





				<li class="dropdown-divider"></li>


				<li><a href="/settings/account" data-nav="settings" class="js-nav">Settings</a></li>


				<li class="js-signout-button" id="signout-button" data-nav="logout">
					<button type="button" class="dropdown-link">Log out</button>
				</li>

			</ul>
		</div>

	</li>
	<li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
		<button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip" data-placement="bottom" data-component-term="new_tweet_button" data-toggle="modal" data-target="#myModal">
			<span class="fa fa-twitter text"></span>
			<span class="text">Tweet</span>
		</button>
	</li>
</ul>

<ul class="nav right-actions" ng-if="!root.twitterSession">
	<li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
		<button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip" data-placement="bottom" data-component-term="new_tweet_button" data-toggle="modal" data-target="#signupModal">
			<span class="fa fa-twitter text"></span>
			<span class="text">Sign up with Twitter</span>
		</button>
	</li>
</ul>


