<div ng-attr-id="{{data.id_str}}" class="tweet tweet-simple">
    <img class="avatar" 
    onError="this.onerror=null;this.src='/images/anon_200x200.png';"
    ng-src="{{data.user.profile_image_url_https}}" alt="user-images">
    <div class="tweet-content">
        <a class="name" ng-href="{{'https://twitter.com/' + data.user.screen_name}}">{{data.user.name}}</a>
        <span class="screen-name">{{ "@" + data.user.screen_name}}</span>
        <span class="created-at">- {{data.created_at | twitterFromNow }}</span>
        <p class="tweet-content-text">
            <!-- Photo: BLAST! <span class="tweet-hashtag">#tylerthecreator</span>#cherrybomb <span class="tweet-hashtag tweet-hashtag-current">#berlin</span> #oddfuture @berlin <span class="tweet-mention">@16again</span> http://tmblr.co/ZVesrk1lOGGGo  -->
            {{data.text}}
        </p>
    </div>
</div>