<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>

<header ng-if="!root.sidebarEnabled" class="main-header">
    <div class="container topnav">
        <div class="universal-topnav-container">
            <!-- Left -->
            <div class="hidden-xs universal-topnav-item list-of-views">
                <ul>
                    <li ng-repeat="navItem in root.topNavItems">
                        <a ng-class="(navItem.title == root.currentView) ? 'active-view-nav' : ''" ng-href="{{navItem.link}}"><span class="{{navItem.icon}}"></span><span class="nav-item-title">{{navItem.title}}</span></a>
                    </li>
                </ul>
            </div>
            <!-- Right -->
            <div class="hidden-xs universal-topnav-item topnav-user-actions">
                <img src="../images/loklak_icon_yellow_45x45_transparent.png" alt="Loklak logo">
                <div global-search-form ></div>  
                <div twitter-session="root.twitterSession" class="signin-twitter" signin-twitter hello="root.hello" ></div>
                <ul class="global-tweet-button-container" ng-if="root.twitterSession">
                    <li>
                        <button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip btn-loklak-blue" data-placement="bottom" data-component-term="new_tweet_button" data-original-title=""  data-toggle="modal" data-target="#myModal" >
                            <span class="fa fa-twitter"></span>
                            <span class="text hidden-xs hidden-sm hidden-md">Tweet</span>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Mobile nav -->
            <div class="visible-xs hidden-mobile-nav">
                <div class="left-logo-and-brand">
                    <img src="../images/loklak_icon_yellow_45x45_transparent.png" alt="Loklak logo">
                </div>
                <div global-search-form ></div>  
                <div class="hided">
                    <a id="pull" href="#" ng-click="root.ToggleMobileNav()">
                        <button id="main-nav-button" class="lines-button x arrow arrow-left" type="button" role="button" aria-label="Toggle Navigation">
                          <span class="lines"></span>
                        </button>
                    </a>
                </div>
            </div>
            <!-- Hidden items -->
            <div class="hidden-items hidden-sm hidden-md hidden-lg hidden-init">
                <div class="list-of-views">
                    <ul>
                        <li ng-repeat="navItem in root.topNavItems">
                            <a ng-class="(navItem.title == root.currentView) ? 'active-view-nav' : ''" ng-href="{{navItem.link}}"><span class="{{navItem.icon}}"></span>{{navItem.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="signin-status-container">
                    <ul class="global-tweet-button-container" ng-if="root.twitterSession">
                        <li>
                            <button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip" data-placement="bottom" data-component-term="new_tweet_button" data-original-title=""  data-toggle="modal" data-target="#myModal" >
                                <span class="fa fa-twitter"></span>
                                <span class="text">Tweet</span>
                            </button>
                        </li>
                    </ul>
                    <div twitter-session="root.twitterSession" class="signin-twitter" signin-twitter hello="root.hello" ></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center">Compose New Tweet</h4>
        </div>
        <form role="form" id="tweet"  ng-submit="root.postTweet()"  enctype="multipart/form-data">
        <div class="modal-body">
            <div class="modal-tweet-form-container">
              
                <textarea name="tweet" id="tweet" cols="30" rows="5" class="form-control" ng-model="root.tweet" ng-change="root.tweetLengthCalculate()"></textarea>
                <input type="hidden" name="optionChoice" ng-model="root.option" id="optionChoice">
                <input type="hidden" name="latitude"  ng-model="root.latitude" id="mapLat">
                <input type="hidden" name="longitude" ng-model="root.longitude" id="mapLng">
                <div id="map" style="width: 100%; height: 450px;"></div>
                <textarea name="largeTextAttachment" id="largeTextAttachment" ng-model="root.largeTextAttachment"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <output id="list"></output>
            <span ng-show="root.tweetLength < 0" style="color:red;">{{root.tweetLength}}</span>
            <span ng-show="root.tweetLength < 7 && root.tweetLength >= 0" style="color:crimson;">{{root.tweetLength}}</span>
            <span ng-show="root.tweetLength >= 7 && root.tweetLength <= 140" style="color:green;">{{root.tweetLength}}</span>
            <span  class="btn btn-default btn-file fa pull-left" id="filePicker">
                <input type="file" id="fileInput" name="imageUpload" ng-model="root.imageUpload">&nbsp;&#xf030; Add Photo
            </span>
            <input type="button" class="fa fa btn btn-default pull-left" ng-if="!root.locationName" ng-click="root.getLocation()" value="&#xf041; Get Location">
            <span class="pull-left">
            <div class="dropdown" ng-if="root.locationName">
              <button class="fa btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              &#xf041; {{root.locationName}}
              <span class="caret"></span>
              </button>
              <ul class="fa dropdown-menu" aria-labelledby="dropdownMenu1" id="subDropDownMenu">
                <li ng-repeat="loc in root.VariableLocations | limitTo:5"><a href="#" ng-click="root.setNewLocation($index)" class="fa">&#xf041; {{loc}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="root.clearLocation()">Disable Location</a></li>
              </ul>

             <!--  <select class="fa dropdown-menu selectpicker" aria-labelledby="dropdownMenu1">
                <option value="&#xf041; {{root.locationName}}">&#xf041; {{root.locationName}}</option>
                <option ng-repeat="loc in root.VariableLocations | limitTo:5"><a href="#" ng-click="root.setNewLocation($index)" class="fa">&#xf041; {{loc}}</a></li>
                <option role="separator" class="divider"></li>
                <option><a ng-click="root.clearLocation()">Disable Location</a></li>
              </select> -->
            </div>
            </span>
            <!-- Map Tile -->
            <input type="button" class="fa fa btn btn-default pull-left" onclick="setMapTile()" id="attachMap" value="&#xf041; Attach Map">
            <input type="button" class="fa fa btn btn-default pull-left" onclick="cancelMapTile()" id="CancelMap" value="&#xf041; Cancel Map">
            <!-- End Map Tile -->
            <!-- Markdown Attachment -->
            <input type="button" class="fa fa btn btn-default pull-left" onclick="showLargeAttachment()" id="attachLargeText" value="&#xf041; Attach Text">
            <input type="button" class="fa fa btn btn-default pull-left" onclick="cancelLargeAttachment()" id="cancelLargeTextAttachment" value="&#xf041; Cancel Text">
            <!-- End Markdown -->
            <input type="submit" class="fa fa-twitter btn btn-default " value="&#xf099; Tweet">
        </div>
        </form>
    </div>

  </div>
</div>
<!-- Signup modal -->
<div id="signupModal" class="modal" role="dialog" ng-if="!root.twitterSession">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center">Signup for loklak</h4>
      </div>
      <div class="modal-body">
        <h1 class="fa fa-twitter fa-6" style="color:#55acee;margin-left:45%;font-size:500%;"></h1>
        <h3 style="text-align:center;">Not on loklak ? Sign up, tune into things as they happen and get updates as they happen</h3>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button class="btn btn-info btn-flat" value="Sign up Via Twitter" ng-click="root.hello('twitter').login()"><i class="fa fa-twitter"></i>&nbsp;Signup with Twitter</button>
      </div>
    </div>

  </div>
</div>
<script>

var latitude;
var longitude;

$(document).click(function(){
 $("#subDropDownMenu").hide('slow'); 
 reActivate();
});

$("#subDropDownMenu").click(function(e){
  e.stopPropagation(); 
});

  function reActivate() {
    $("#dropdownMenu1").click(function(e){
      $("#subDropDownMenu").show('slow');
    });
  }

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      if(i==0) {
        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                              '" title="', escape(theFile.name), '"/>'].join('');
            document.getElementById('list').insertBefore(span, null);
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }
  }

  var tempArray = [];

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 

  function showPosition(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    tempArray.push(latitude);
    tempArray.push(longitude);
    sendPositionDetails(latitude, longitude);
  }

  $("#map").hide();
  $("#CancelMap").hide();
  $("#largeTextAttachment").hide();
  $("#cancelLargeTextAttachment").hide();

  var popup = L.popup();
  var new_event_marker;
  L.Icon.Default.imagePath = '/images/';

  function onMapClick(e) {
    console.log(e);
    if(typeof(new_event_marker)==='undefined')
    {
      new_event_marker = new L.marker(e.latlng,{bounceOnAdd: true}).addTo(map); 
      map.panTo(new L.LatLng(e.latlng.lat, e.latlng.lng));
      latitude = e.latlng.lat;
      longitude = e.latlng.lng;
      sendPositionDetails(latitude, longitude);
    }
    else 
    {
      new_event_marker.setLatLng(e.latlng);  
      map.panTo(new L.LatLng(e.latlng.lat, e.latlng.lng));
      latitude = e.latlng.lat;
      longitude = e.latlng.lng;
      sendPositionDetails(latitude, longitude);
    }
  }

  console.log(latitude + ',' + longitude);
  var map = L.map('map').setView([17.22121, -79.122121], 12);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
  }).addTo(map);

  function setMapTile() {
    $("#map").show();
    $("#CancelMap").show();
    $("#attachMap").hide();
    $('#filePicker').hide();
    $("#optionChoice").val('mapAttachment');
  }

  function cancelMapTile() {
    $("#CancelMap").hide();
    $("#map").hide();
    $("#attachMap").show();
    $('#filePicker').show();
    $("#optionChoice").val('');
  }

  function sendPositionDetails (lat, lng) {

    console.log("Called");
    console.log(lat+','+lng);
    $("#mapLat").val(lat);
    $("#mapLng").val(lng);
  }

  function showLargeAttachment() {
    var editor = new Editor({
      element: document.getElementById('largeTextAttachment')
    });
    editor.render();

    $("#cancelLargeTextAttachment").show();
    $("#attachLargeText").hide();
    $('#filePicker').hide();
    $("#optionChoice").val('markdownAttachment');
  }

  function cancelLargeAttachment() {
    $("#attachLargeText").show();
    $('#filePicker').show();
    $(".CodeMirror.cm-s-paper").hide();
    $(".editor-toolbar").hide();
    $(".editor-statusbar").hide();
    $("#largeTextAttachment").hide();
    $("#cancelLargeTextAttachment").hide();
    $("#optionChoice").val('');
  }

  map.on('click', onMapClick);

document.getElementById('fileInput').addEventListener('change', handleFileSelect, false);

</script>
