<div class="container">
	<div class="row">
		<div class="col-md-12 main wall">
			<div class="container">
				<div class="row">
                	<div ng-if="wall.displaySearch" class="wall-search">
                    	<h1>Search</h1>
						<form class="form-inline form-search">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="term" placeholder="Search term">
						 	</div>
							<button type="submit" class="btn btn-success" ng-click="wall.update(term)">Show Tweets</button>
						</form>
					</div>
					<div ng-if="!displaySearch" class="wall-display">
						<h1>{{wall.term}}</h1>
						<div class="status-list">
							<div ng-repeat="status in wall.statuses" class="animate-repeat" status data="status" highlight="$first"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
