<div class='pixels-photo'>
  <p>
    <img src='<%= img_src %>' alt='<%= title %>'>
  </p>
  <a href='<%= canonical %>' alt='<%= title %>'></a>
</div>
<script type='text/javascript' src='https://500px.com/embed.js'></script>