<style type="text/css">
<style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 700px;
            width: 100%;
        }
    </style>
</style>

   <div id="map">

   </div>
    <div id="docDrawer" class="drawer dw-xs-10 dw-sm-6 dw-md-5 fold in" aria-labelledby="docDrawer">
        <div class="drawer-controls pull-right" style="z-index:-888; top:120px;">
            <a href="#docDrawer" data-toggle="drawer" href="#docDrawer" aria-foldedopen="false" aria-controls="docDrawer" class="btn btn-default"><i class="fa fa-align-justify"></i></a>
        </div>
        <div class="drawer-contents">
            <div style="height:50%; overflow-y:scroll;">
           <h3>Followers</h3><hr>

           <div ng-repeat="i in followers.id_str track by $index">
            {{index}}
            {{followers.id_str[i]}}
            <div class="home-user-info" style="width:100%;">
                <div class="blue-background-placeholder">
                    <img ng-src="{{followers.profile_banner[i]}}" >    
                </div>
                    <div class="home-user-info-content">
                       <div class="top-content">
                        <img ng-src="{{followers.propic[i]}}">
                            <div class="name-and-screen-name">
                                <span class="home-user-name">{{followers.name[index]}}</span><br>
                           <span class="home-user-screen-name">@{{followers.screenname[i]}}</span>
                        </div>
                    </div>
                     <div class="bottom-content">
                        <div class="user-no-tweets">
                            <a href="">Tweets<br><span>{{followers.tweetcount[i]}}</span></a>
                       </div>
                        <div class="user-no-followings">
                            <a href="">Followings<br><span>{{followers.following[i]}}</span></a>
                        </div>
                        <div class="user-no-followers">
                            <a href="">Followers<br><span>{{followers.followers[i]}}</span></a>'
                        </div
                     </div>
                </div>
             </div>
            
        <hr>
    </div>
    </div>
           Followers Info shall come here<br><br><br><br><hr>
           <h3>Following </h3><br>Following Info shall comehere 
        </div>
    </div>
    </div>
  <script>
            $('#drawerExample').drawer({ toggle: false });
            $('#other-toggle').click(function() {
                $('#drawerExample').drawer('toggle');
                return false;
            });
        </script>





